[2020-02-16 12:16] #160 closed

[2020-02-16 13:25] troglobit commented on #199
@FedericoCeratto I haven't heard back from you in a while, how is the packaging efforts going?  Since last time I've added support for `--no-pidfile` in 98944a0.  It will make it harder for users who want to sent signals to inadyn, e.g., `USR1` or `USR2`, but now it's there if you'd like to use it.  That in combination with `-n` and omitting `-s`, and recent patches to prevent `chown()` should ful

[2020-02-16 18:00] FedericoCeratto commented on #199
@troglobit Thanks, the changes could help - also I'm happy to see that the project is alive. Are you planning to release the new changes?

[2020-02-16 19:46] troglobit commented on #199
@FedericoCeratto Yes, the plan was to release v2.6 today (CET), I'll see if I make it otherwise it'll be out tomorrow.

[2020-02-17 17:59] troglobit opened #297 "Add support for https://www.ipify.org/"
Many DDNS providers don't have their own checkip infrastructure, In-a-Dyn plugins for these providers usually fall back to use the service provided by Dyn.com

This is a proposal to add support for https://www.ipify.org/ for a native In-a-Dyn checkip function.  See https://github.com/troglobit/lipify/ for an implementation that can easily be integrated.

[2020-02-17 20:50] SimonPilkington commented on #297
Is it necessary to add this entire implementation to Inadyn? curl is ubiquitous and could easily be invoked from a shell script invoked by Inadyn to query the ipify API and output the address to stdout for Inadyn to collect. This would also be more flexible. Inadyn could ship with a default script querying ipify using curl, but e.g. with Inadyn running on my router it's just `nvram get wan0_ipaddr

[2020-02-18 01:13] troglobit commented on #297
Let me rephrase. In retrospect I did not mean integrating lipify (14 kiB) into Inadyn. I just wanted to write down an idea I had while at work, before forgetting about it. Really didn't expect any pushback. Inadyn already has all the support required to do a HTTP GET query on it's own.

This proposal is only about adding support for a more neutral checkip server than dyn.com which is the default f

[2020-02-18 06:56] SimonPilkington commented on #297
Oh no, that wasn't pushback, just discussion. Sorry if my wording was too strong. The ACME client I use  is a C application like Inadyn and it uses potentially user-provided scripts to handle challenges, so I wondered if the same approach could be used here.

[2020-02-18 08:13] troglobit commented on #297
Sorry, I was probably too tired and English isn't my first language.  Well in general I have no problem with a script-based approach.  For core components though I'd like to see Inadyn be self-reliant. I've run into way too many limited embedded systems that barely have a working shell.

[2020-02-18 08:31] SimonPilkington commented on #297
Fair. I figured if my 2013 router had curl it would be pretty widely available, but also that if that was nonsense you'd know to tell me off.

How do you feel about my idea as an alternative approach? Perhaps as a per-provider entry in the config? I might feel like trying for it one of these days.

[2020-02-18 10:22] troglobit commented on #297
You mean like the `checkip-command`? :)

https://man.troglobit.com/man5/inadyn.conf.5.html#checkip-command_=_/path/to/shell/command_[optional_args]

[2020-02-18 10:29] SimonPilkington commented on #297
Oh. Well, at least I can take solace in the fact that my idea probably wasn't silly if it's already implemented.

[2020-02-18 17:05] troglobit commented on #297
Definitely not silly. There are lots of small things like that which make it such a great tool. The real challenge is always to figure out what is core functionality and adds value, without making it too complex to maintain, and what's better suited for external helper scripts.

As always, thank you for your input! :-)

[2020-02-20 18:07] #297 closed

[2020-02-22 15:20] troglobit commented on #275
v2.6 released, finally ...

[2020-02-22 15:23] troglobit commented on #201
Done, finally.  The v2.6 relase of In-a-dyn can be installed like this:

[code]

[2020-02-22 15:23] #201 closed

[2020-02-22 15:24] troglobit commented on #199
Done, finally.  The [v2.6 release](https://github.com/troglobit/inadyn/releases/tag/v2.6) of In-a-dyn can be installed like this:

[code]

[2020-02-22 15:24] #199 closed

[2020-02-22 15:32] troglobit commented on #281
Debian/Ubuntu packages have moved. Use the following to install and get automatic updates:

[code]

[2020-02-22 17:07] troglobit commented on #228
Finally got some time over to work on Inadyn again, albeit briefly. A new release, v2.6, is out and I think I've managed to set up Docker Hub properly: https://hub.docker.com/r/troglobit/inadyn

[2020-02-22 17:07] #228 closed

[2020-02-22 17:11] troglobit commented on #293
So, v2.6 has been released https://github.com/troglobit/inadyn/releases/tag/v2.6, there are pre-built packages available, both [Debian/Ubuntu packages](https://deb.troglobit.com/) and [Docker images](https://hub.docker.com/r/troglobit/inadyn). Hopefully enough to help test this bug.

[2020-02-22 17:11] troglobit commented on #252
So, v2.6 has been released https://github.com/troglobit/inadyn/releases/tag/v2.6, there are pre-built packages available, both [Debian/Ubuntu packages](https://deb.troglobit.com/) and [Docker images](https://hub.docker.com/r/troglobit/inadyn). Hopefully enough to help test this bug.

[2020-02-23 05:13] taem commented on #252
Hi Joachim,Ok, thanks. Need to try it.--Sent from Yandex.Mail for mobile22.02.2020, 23:11, "Joachim Nilsson" <notifications@github.com>:So, v2.6 has been released https://github.com/troglobit/inadyn/releases/tag/v2.6, there are pre-built packages available, both Debian/Ubuntu packages and Docker images. Hopefully enough to help test this bug.

—You are receiving this because you were mentioned.Rep

[2020-02-23 20:45] deku-m opened #298 "Home Assistant support (as in Add-on)"
I use this in a build that someone has made but currently no support for this anymore since 2.2.1.
https://github.com/nalipaz/hassio-addons/tree/master/inadyn

Can you build support for HASS (Home assistent). Many use your build for updating there environment to the outside with dyndns.

[2020-02-23 22:41] troglobit commented on #298
Hi, it seems that project use the custom provider mechanism in inadyn. So it's possible for you to set it up already.

I don't use Home Assistant myself, so I cannot help you with any details around what do.

[2020-02-25 04:18] RMerl opened #299 "--force not working in 2.6"
I haven't fully investigated yet, but --force doesn't seem to work here.  All it does is return the usage summary when I try to invoke it like this:

[code]

[2020-02-25 04:22] RMerl commented on #299
There's no case for '4' (which corresponds to --force longopt).

I will provide a pull request in a bit that fixes it.

[2020-02-25 04:31] RMerl commented on #299
PR submitted.

[2020-02-25 06:02] #299 closed

[2020-02-25 06:03] troglobit commented on #299
My bad, new (late) feature introduced in 2.6.  Thank you for taking the time to report, and fix this :)

[2020-02-25 06:08] RMerl commented on #299
No problem.  I was merging 2.6 into my router firmware project today, and found out during testing that it was broken.  Seemed simple enough to fix :)

[2020-02-27 20:10] acolomb opened #303 "Debian / Ubuntu package requires too recent GnuTLS version"
Hi, thanks for the 2.6 release and the related official DEB repository.

Unfortunately the package cannot be installed under Ubuntu 18.04 LTS because it `Depends: libgnutls30 (>= 3.6.6)`, whereas only `3.5.18-1ubuntu1.3` is available. Is the 3.6 series of GnuTLS really required? It compiles just fine within this same Ubuntu environment.

Could you please check how to lower the version dependency a

[2020-02-27 22:05] troglobit commented on #303
Hi André. I'm sorry, but at the moment I really don't have the time or the means to accommodate your request. As you noticed, there's nothing wrong with the debian/control file, it's just that my build machine is a Debian 10 (Buster) install. The .deb file should work with Ubuntu 19.04 and later, possible 18.10.  My work is primarily released in source form, and I provide the pre-built .deb files

[2020-03-05 09:03] sekharnadiminti opened #304 "Need conf file format for DuckDNS.org with Inadyn client v1.99.15"
Hi Troglobit,

Can you please help in finding the right configuration for DuckDNS with Inadyn client v1.99.15 ?

BTW, I see DuckDNS does not require password . But when I am having conf file without password,  client is not accepting.

Also I have a limitation to upgrade my client to higher versions than this.

Thanks
Sekhar

[2020-03-05 12:50] sekharnadiminti commented on #304
Hi,

Found the right configuration with little more experimentation  for duckdns

background
verbose        1
cache-dir      /var/tmp
startup-delay  20
period         300

logfile /var/log/ddns.log
system default@duckdns.org
alias <your host name >
username <token given by duck dns>
password  <random string>

Note : Password filled with random string just to satisfy client.

This configuration wor

[2020-03-05 16:04] troglobit commented on #304
Great to see you found a solution! :)

Closing ...

[2020-03-05 16:04] #304 closed

[2020-03-06 17:12] troglobit commented on #248
The proposal by @themiron in #305 is a great way to design around the problem of API breakage:

Add a `--exec-mode=[compat|event]`:

   * when set to `event` the script foo, in `--exec foo`, would be called with `$1` set to one of: `update`, `nochg`, `error`, possibly more.  Similar to how BusyBox `udhcpc.script` works.
   * when not set, or set to `compat`, the script foo would be called as-is to

[2020-03-06 17:16] troglobit opened #306 "Made easy support for providers with flaky/unreliable checkip servers"
In #305 @themiron came up with the brilliant idea to simplify using another checkip server for providers with a flaky/unreliable service.

  1. Update documentation with helpful hints and recommendations
  2. Add syntax sugar a-la `checkip-server=default` to tell inadyn to use its built-in default (ipify) instead of the provider provided one
  3. Possibly also detect bad checkip servers and warn i

[2020-03-06 17:21] RMerl commented on #306
For 3., maybe see if throttled ipcheck servers return something else than a 200 or a 30x HTTP code, and in which case act accordingly (fallback to default server perhaps?)

[2020-03-06 17:23] troglobit commented on #306
@RMerl ah, great idea!  I was thinking about checking for timeout, but just tracking the HTTP return codes (maybe with a counter and threshold?) is quite a bit more obvious :)

[2020-03-06 17:24] RMerl commented on #306
@themiron, did you get a particular HTTP response code when you were throttled in your test case?

[2020-03-06 17:28] themiron commented on #306
For 2 - currently get_address_backend() uses cmd, iface and remote in order, seems easy to add last resort with default ip checker. after that, same default server can be removed from plugin for simplicity

[2020-03-06 17:30] themiron commented on #306
ARAIR yes, something either 4xxx or 5xx, not really sure.

[2020-03-06 17:32] RMerl commented on #306
So, code >=400 could be handled as a failure then.

[2020-03-06 17:34] troglobit commented on #306
Agree to all above!  Thank you guys for the awesome feedback :)

[2020-03-06 17:35] themiron commented on #306
already is

[2020-03-09 13:06] soratobukuroneko opened #307 "How to set IPv6 address for spdyn"
I tried

[code]
(the command return the ipv6 address like `2001:67c:1350:104::4`)

but doesn't work at all, it gives me the following error:

[code]

Why does it show me my IPv4?

[2020-03-09 13:27] troglobit commented on #307
No clue really, looks like the checkip-command failed, or wasn't even executed.  Could you run again with `inadyn -l debug` so we get more detailed output to look at?

[2020-03-09 13:31] acolomb commented on #307
Are you sure that shell features (piping especially) are supported within Inadyn's command invocation?

Try putting the command pipeline into a script and specify just its path.

[2020-03-09 14:11] troglobit commented on #307
Should work. The command examples in the documentation are based on my own tests at the time. There could of course be regressions, which is what I suspect here.

[2020-03-09 14:21] soratobukuroneko commented on #307
[code]

I tried to add `allow-ipv6 = true` but I get `//etc/inadyn.conf:86: no such option 'allow-ipv6'`

[2020-03-09 16:37] troglobit commented on #307
Ah, that hot mess again ... yeah, from reading the code it should work to set `allow-ipv6 = true` as a *global* option, not per provider.  I know doesn't make sense and we have this huge backlog of IPv6 changes that need to be made, but nobody's been willing to step up and help fix it upstream (here) yet.

[2020-03-10 08:12] soratobukuroneko commented on #307
Thanks,
now I have

[code]

and 'myhostname.spdns.org' get the corrects A and AAAA records

[2020-03-10 08:12] #307 closed

[2020-03-10 11:28] troglobit commented on #307
Awesome, glad it worked! 😃👍

[2020-03-13 13:43] troglobit commented on #275
@dprus I hope the move went smoothly. For purpose of completeness I'd love to hear back on this issue, at your earliest convenience of course :)

[2020-03-14 00:11] dprus commented on #275
Yeah – I’ve moved over permanently to a different solution so I will have to setup inadyn again just temporarily to validate this. I still plan on doing so just haven’t had a chance yet. I’m hoping soon. Sorry for the delay…

-Richard.

From: Joachim Nilsson<mailto:notifications@github.com>
Sent: Friday, March 13, 2020 6:44 AM
To: troglobit/inadyn<mailto:inadyn@noreply.github.com>
Cc: Richard Powe

[2020-03-14 07:49] troglobit commented on #275
@dprus No problem, thank you for taking the time to respond :)

[2020-04-17 10:42] leonyu opened #309 "When running inadyn as unprivileged user, it will complain about not able to chown the cache-dir."
When running inadyn as unprivileged user, it will complain about not able to `chown` the cache-dir.

Can be produced with the following docker/docker-compose setup:

[code]

[2020-04-20 14:33] thomas-ha commented on #248
Hi,
I needed inadyn to always run the exec handler. Therefore, I implemented it as suggested in the post above. I opened the pull request https://github.com/troglobit/inadyn/pull/310 for it.

[2020-04-23 19:50] LewisW-J opened #311 "Dynu.com DDNS support?"
Hi, I've tried a few things to get the provider to work but it doesn't seem to recognise Dynu.com which is on the list of supported DDNS. In the config file I see that it refers to it as default@dynu.com but when I put that in, it just says "Invalid DDNS provider default@dynu.com".

I've tried dynu.com and dynu. Am I missing something here?

From the log for when I tried dynu as the provider:
inad

[2020-04-23 20:00] #311 closed

[2020-04-23 20:07] acolomb commented on #311
Support for Dynu was added in a more recent release, 2.6 if I remember correctly.

[2020-04-26 08:19] #248 closed

[2020-04-26 08:22] troglobit commented on #309
Thanks for the report.  Hopefully someone can verify and provide an idea of how to proceed, I don't use the docker build myself atm.  If nobody steps up I'll have a look at it right before the next release.

[2020-04-26 10:02] leonyu commented on #309
Not really related to docker. Should probably be able to reproduce with the following (not tested):
[code]
`./inadyn.conf` need to be readable by `nobody`

Unless cache-dir is at its default location (`/var/run/inadyn/`),  inadyn shouldn't try to chown the cache directory. The cache directory might be shared with other applications (e.g. /tmp), or maybe mapped from NFS or other containers with dif

[2020-04-26 17:05] #309 closed

[2020-04-26 17:05] troglobit commented on #309
Should be fixed as of a3616bf, please let me know if the problem persists.

[2020-04-26 17:47] jamesdmurphy commented on #275
This doesn't appear to be fixed however it could be a bug with the cloudflare API https://community.cloudflare.com/t/bug-zone-detail-by-name-requires-zone-list-permission/128042

[2020-05-06 08:07] RichardVine commented on #275
Hi,

I've come across what seems to be a similar issue with a 'Zone not found' error which may be related. However, it doesn't seem to be a Cloudflare permissions issue but with the wrong domain being picked up.

I'm using inadyn 2.7 on an asuswrt-merlin router. My slightly redacted config file is:

provider cloudflare.com {
     checkip-command = "/usr/sbin/nvram get wan0_ipaddr"
     username =

[2020-05-06 11:44] SimonPilkington opened #312 "Cloudflare plugin does not handle third-level domain zones correctly"
E.g. whatever.co.uk is currently not handled correctly (the plugin attempts to get the id for co.uk). I will produce a fix as soon as I have time.

[2020-05-06 11:46] SimonPilkington commented on #275
Thanks for reporting @RichardVine; this is a different problem and not related to the original issue. Will be prusued at #312.

[2020-05-06 11:55] SimonPilkington commented on #312
Before I start, how do you think we should handle this @troglobit? I could write detection of zones that are likely to be third-level, but that seems finicky to me. I would prefer to just have the user specify their zone as the username, which is a field we currently don't use, although that would be a breaking change for existing configs. What do you think?

[2020-05-06 13:15] troglobit commented on #275
@SimonPilkington thank you for moving this to #312, it is indeed a separate issue! :)

[2020-05-06 13:33] troglobit commented on #312
I think it's a good idea.  The problem with `username` is slightly annoying, of course, but I don't see any other way forward.  The README, which presumably ppl have read/copy-pasted from, says `unused`, so maybe we could model any error message based on that, just as friendly reminder to the user?

[2020-05-06 13:35] RichardVine commented on #312
@SimonPilkington Appreciate you weren't asking me but I'm going to give you my opinion  anyway...  :-)

Just to explain my use case, under my single Cloudflare account (with single email address), I have two zones. One of them is the same as my email address, the other isn't.

If the username field had to 'correctly' identify my Cloudflare account and was then used to determine which zone to updat

[2020-05-06 15:54] SimonPilkington commented on #312
@RichardVine, your API token is what matters here, not your address. The token should have the edit permission for all zones, or else nothing works because Cloudflare's API is buggy. Assuming we switch to using username, if you have more than one zone, you can create an entry for each and use the same API token. @troglobit, please confirm this works, I'm not sure.

[2020-05-06 17:06] troglobit commented on #312
Yup, that should work.  Inadyn doesn't care if it's the same, as long as you use the index/identifier `:NUM`.   I'm guessing something like this would be preferable in this case:
[code]

[2020-05-09 11:15] #312 closed

[2020-05-16 16:29] 1Luc1 opened #314 "twoDNS stopped working, new API v2"
Hello,

[twoDNS](http://www.twodns.de) have a new way to update the host ip. http://www.twodns.de/api
So the listet example within the [readme.md](https://github.com/troglobit/inadyn/blob/master/README.md) doesn't work anymore.

Does someone know how to set inadyn up to handle the new api v2?

Thanks,
Luc

[2020-05-16 18:14] troglobit commented on #314
Hi Luc!  Previously the custom In-a-dyn provider could be used, it's a generic HTTP GET backend similar to what Dyn.com uses.  The new twoDNS API seems to require sending a JSON payload as well, so I don't think there's an easy way to fix.  Probably we need a dedicated C-plugin.

[2020-05-16 18:29] SimonPilkington commented on #312
@RichardVine Could you build and check if Inadyn is usable for you now? If there are still problems, it would be better to fix them before they end up in Merlin.

[2020-05-16 21:16] troglobit commented on #312
If there still are issues we can reopen this bug.

[2020-05-17 06:53] RichardVine commented on #312
Thanks guys. I'm using inadyn as part of the firmware of an Asuswrt-merlin router and don't know enough about how to update this (particularly without bricking my router!). I'll see if I duplicate the issue from a Linux VM, then update to confirm the issue is resolved. I might be some time!

[2020-05-17 11:10] SimonPilkington commented on #312
That's fine. Inadyn should behave the same on Merlin and amd64 or whatever you are using. There are also switches to make it run in the foreground for testing (see --help). If you would rather not bother building it let me know and I will post a binary for you.

[2020-05-17 20:34] RichardVine commented on #312
Oh, using a binary (for amd64/x64) would be perfect. Many thanks.

[2020-05-18 10:21] SimonPilkington commented on #312
Here's a binary built from this repository's master branch. You may need to install dependencies using your distro's package manager.

[inadyn.zip](https://github.com/troglobit/inadyn/files/4643467/inadyn.zip)

[2020-05-18 13:10] RichardVine commented on #312
I ran this on an Opensuse VM after installing libconfuse. I can confirm a forced update worked perfectly for my .co.uk domains. Inadyn is clearly logging 'Zone: example.co.uk' correctly and using that in the Cloudflare queries and updates.

Nice job!

[2020-05-18 13:12] SimonPilkington commented on #312
Great. Thanks for verifying.

[2020-05-18 14:02] troglobit commented on #312
Great work guys, thank you for verifying, @RichardVine :)

[2020-05-20 06:51] 1Luc1 commented on #314
Thanks for your reply. I thought about that too. For now i will abandon the use of twoDNS and use another dynDns service.

[2020-05-20 18:32] troglobit commented on #314
Reopening just as a reminder to myself to update the docs

[2020-06-11 18:14] owine opened #315 "Docker: Multi-arch builds"
Hi

Would you consider adding multi-arch builds to your official Docker Hub image? I want to run on a Raspberry Pi but the image does not support arm. The apt repository version is very outdated (1.99) so running the latest in Docker would be preferred.

Thanks

[2020-06-11 19:20] troglobit commented on #315
I have nothing set up myself, but if someone contributes sth I'd be happy
to merge it.

On Thu, Jun 11, 2020, 20:15 owine <notifications@github.com> wrote:

[2020-07-03 06:42] hw489264 commented on #102
Hello, I have started the inadyn service, and I am sure that each parameter in the configuration file is correct, but I do not see any in the /var/run/inadyn/ directory or /var/cache/inadyn directory Cache information, what is the reason?

[2020-07-03 07:30] troglobit commented on #102
Hi @hw489264, to help you I need to know a bit more about you context. What version of Inadyn are you using.  Are you running it as root, as a system service, or as a regular user?

Also, please don't open a new discussion in an already closed issue.

[2020-07-11 17:21] AlphaJack opened #316 "Cloudflare wildcard record is not updated"
The `wildcard = true` option doesn't seem to work with Cloudflare:
[code]

My working `ddclient` configuration is:
[code]

If I try to use `hostname = { domain.tld, *.domain.tld }` it updates the record for the first domain, but returns:
[code]

[2020-07-12 09:07] troglobit commented on #316
Maybe @SimonPilkington can provide some insight on this one?  He's the main developer behind this plugin :)

[2020-07-14 18:14] SimonPilkington commented on #316
I'll check what's happening here as soon as I have time. I don't use wildcard domains myself so it's basically uncharted waters right now.

[2020-07-14 21:40] troglobit commented on #316
Thanks @SimonPilkington, maybe @AlphaJack can help debug the issue further meanwhile?

[2020-07-29 09:22] pro-sumer opened #317 "Basic Authentication fails when password contains \'"
Not sure whether this is considered a user error or another instance of #211, but even when I use quotes (`"`) around my password in the config file, Basic Authentication fails in inadyn 2.7 (on [Asuswrt-Merlin](https://github.com/RMerl/asuswrt-merlin.ng/wiki/DDNS-services)) when the password contains `\'` (yes, my password manager actually generated this unlikely/troublesome combination), which w

[2020-08-02 00:18] troglobit commented on #317
Thank you for your report. How do you propose we handle `\` in passwords?

[2020-08-02 09:27] SimonPilkington commented on #316
This took a while, sorry about that.

Per my analysis, the `wildcard` option is unsuitable for use with Cloudflare. Unlike other providers supporting wildcard records (which simply that this be put in the query string) Cloudflare allows defining  wildcard records in a zone by using an asterisk in the name (e.g. `*.one.example.com` and `*.two.example.com`).

That said, I can update wildcard records

[2020-08-02 11:19] troglobit commented on #316
@SimonPilkington thank you for taking the time to look at this!  I greatly appreciate your help with the Cloudflare plugin <3

I'm not sure why it drops the asterisk.  I've just reproduced it myself, separate from In-a-dyn, using libConfuse.  I'll continue investigating.

[2020-08-02 11:40] AlphaJack commented on #316
@SimonPilkington thank you, this configuration now works:

[code]

Logs says the following
[code]
---

I would suggest adding this note to the CloudFlare documentation section, along with a multiple hostname array example

[2020-08-02 12:45] troglobit commented on #316
@AlphaJack to prevent In-a-dyn from updating too often¹, it caches each update.  So unless there's a fixed record in the config for a given provider, I'm wondering how we should do the caching.  Maybe open up for disabling caching when there's only a wildcard hostname?

At the very least we should skip the initial DNS query for wildcard hostnames to prevent the above "error" message.

Anything sti

[2020-08-02 14:52] pro-sumer commented on #317
For passwords I think it would best if all characters between the `"` quotes are treated as literals: used without any processing.

[2020-08-02 14:53] troglobit commented on #317
Reasonable, noted. I'll look into it for the next release (possibly the next release of libConfuse, which we use for In-a-dyn).  Thanks for getting back on this.

[2020-08-02 21:44] troglobit commented on #316
@SimonPilkington, I found why the asterisk is dropped.  Turns out it's a limitation in libConfuse due to a fix to an earlier issue, martinh/libconfuse@3da6a559.  Not sure it's possible to fix easily, may be better to just improve Inadyn docs+examples with quotes around all strings ... or even drop libConfuse in favor of rolling our own.

[2020-08-03 13:29] SimonPilkington commented on #316
Eschewing the entire config parser library over one, relatively specific use case seems excessive. If the parser can't be fixed easily then I think improving our documentation would suffice for now.

[2020-08-03 13:32] SimonPilkington commented on #316
As for caching, I don't really have a great idea. If we had a resolvable name in the list along with a wildcard name, we could cache using that, but detecting this would not be trivial, nor would implementing caching in this way, I assume, and there is also no guarantee we will have it at all.

[2020-08-03 14:26] AlphaJack commented on #316
Why don't use a dummy subdomain?
`drill a wilcardwildcard.domain.tld`
[code]

[2020-08-03 16:29] SimonPilkington commented on #316
That isn't a bad idea, actually. As long as there isn't actually a separate A record with the same name as whatever we're testing, this would work. If we pick a sufficiently random string, the risk would probably be negligible.

[2020-08-03 18:30] troglobit commented on #316
@SimonPilkington there are other open issues, like #317, and other issues over the years that have made me regret libConfuse for inadyn.  It's not a huge amount of work, but definitely not something I have time for right now.

Personally I think it might be best to disable caching for wildcards, and keep it at `*.foo.bar`, or probe the "basename", e.g. try a DNS lookup of `foo.bar` in this case.

[2020-08-03 19:58] SimonPilkington commented on #316
I see. If it really is causing multiple problems then a different solution may be worth considering.

I cannot say what would be best myself since I do not use wildcard records so I have a poor idea of what may go wrong. Even with caching disabled I believe Cloudflare would handle too frequent updates gracefully (with a HTTP 429 response, which the plugin handles), so that is certainly an option a

[2020-08-03 20:02] SimonPilkington commented on #316
The [limits](https://support.cloudflare.com/hc/en-us/articles/200171456-How-many-API-calls-can-I-make-) are quite generous as well.

[2020-08-03 20:36] troglobit commented on #316
Yup, I'll see what I can come up with timewise .. but this has at least started a background process which will undoubtedly one day wake me up itching to be fixed :)

Over the years I've been thinking about the caching and how to improve responsiveness to IP address changes.  It is mostly there to protect against strict DDNS providers, as I mentioned. So if we can allow for automatic disabling of

[2020-08-16 14:34] kevin-leong commented on #275
Hello I am getting some what of a similar issue.  If you scroll to the bottom of my debug log, you will see "Failed to parse JSON."  I am not sure what is wrong here or why its failing to parse the JSON.

For the API token, I gave the permission of "Zone - Zone:Read" and "Zone - DNS:Edit".  I also omitted my IP, API Token Key, and username (which is set to my zone per the instructions), and hostna

[2020-08-23 05:55] kevin-leong opened #319 "Cloudflare: Failed to parse JSON"
[Per request from @SimonPilkington, a new issue was created]

I am using the latest inadyn package (aarch64) with Alpine (https://pkgs.alpinelinux.org/package/v3.12/community/aarch64/inadyn), and also built my own image with a git clone of the repository.

If you scroll to the bottom of my debug log, you will see "Failed to parse JSON." I am not sure what is wrong here or why its failing to parse

[2020-09-29 19:09] irontigran opened #320 "How to compile statically"
Do you have any advice on compiling statically? I've tried commands like `./configure PKG_CONFIG="pkg-config --static" LDFLAGS=-static` from within the provided Docker container with no luck - configure will fail.

The specific error is with the crypto library (and I've tried both gnutls and openssl), for example:

[code]

[2020-10-01 17:57] troglobit commented on #320
A static build with dynamic libraries, or anything else in between, is nothing I'd recommend. I've never tried it with inadyn myself, but it's a configure-based project, so I'd suggest looking around for support around the GNU web/man pages for autoconf/pkg-config etc.

[2020-10-01 17:57] #320 closed

[2020-10-02 00:44] irontigran commented on #320
For the benefit of later readers, I did manage to get it to compile inside the Docker container with:

[code]

Only works when linking against musl and openssl, though.

[2020-10-05 17:38] gchiappe commented on #319
I'm also having this issue, JSON response is also truncated and error message is the same.

Server is running CentOS 8, built from sources and using OpenSSL for TLS.

[code]

[2020-10-06 16:10] SimonPilkington commented on #319
Well, it's actually good that the bug is actually not platform-dependent as I originally assumed. Unfortunately it is still probably a memory error somewhere and I can't reproduce it locally. How reliably can you reproduce it? Does it happen every time? Does the point where the body gets truncated vary or is it consistent?

[2020-10-06 16:22] gchiappe commented on #319
- Virtual machine where it runs has 4 vCPU and 4 GB of RAM which is almost free, nothing but a static web server (Caddy 2) runs there (and inadyn). I can try giving more RAM or vCPU resources to the guest VM, if you want me to test it.
- It occurs every time, no matter which API Key I use, I roll it like 20 times, also Global API Key does not work at all.
- The body gets truncated in the exact sam

[2020-10-06 16:32] SimonPilkington commented on #319
If things fail deterministically on your VM, that is actually good for debugging. I would not have you change anything. Can you build and run from source? I could throw up a branch with more debugging info printed from the functions involved one of these days if you would be willing to test.

[2020-10-06 16:54] gchiappe commented on #319
Sure, just give me the branch name, I will checkout and rebuild.

[2020-10-06 20:06] SimonPilkington commented on #319
Thanks. I'll comment here when I have something for you to test. It might take a few days so please wait.

[2020-10-07 02:46] kevin-leong commented on #319
Sorry for the delayed in response.  Yes that is correct.

[2020-10-07 13:42] SimonPilkington commented on #319
Whoever is willing please try the https://github.com/SimonPilkington/inadyn/tree/ssl_recv_debug branch.

Be careful about posting the log as the contents of the buffer after the HTTP transaction will be hexdumped afterwards, so it is not enough to just omit the text. It may be best to just send me the log privately. You can find my email address in the commit log.

[2020-10-13 15:54] matrixcowboy opened #321 "Certificate Verification Failed"
When updating/upgrading Ubuntu 20.04.1 LTS Focal error occurs during update.

Err:13 https://deb.troglobit.com/debian stable Release
  Certificate verification failed: The certificate is NOT trusted. The certificate chain uses expired certificate.  Could not handshake: Error in the certificate verification. [IP: 138.68.65.229 443]
E: The repository 'https://deb.troglobit.com/debian stable Release'

[2020-10-13 21:14] troglobit commented on #321
Thanks for the heads-up, seems the HTTP-01 update with certbot failed for some reason.  I'll see what I can do.

[2020-10-14 06:45] troglobit commented on #321
Should be fixed now. Thanks again for taking the time to report this!

[2020-10-14 06:45] #321 closed

[2020-10-17 17:20] Schueni1 opened #323 "Cloudflare Proxy support"
I would like to use the cloudflare proxy feature. The problem is, that after every IP update the the proxy feature gets disabled and reverts back to 'DNS only'.

This is my current config:
[code]

[2020-10-18 09:16] troglobit commented on #323
I don't know what the "cloudflare proxy" feature is.  Inadyn only sends HTTP GET (sometimes POST) requests to tell DDNS Providers, like Cloudflare, the current IP of a certain account.

[2020-10-18 10:56] Schueni1 commented on #323
Enabling Cloudflare Proxy is possible with their api.
It's just a boolean.

[2020-10-18 12:03] troglobit commented on #323
Aha, will I don't use Cloudflare myself. Maybe you can submit a pull request?

[2020-10-18 14:18] Schueni1 commented on #323
Not sure wether I'm skilled enough :sweat_smile:

[2020-10-25 18:52] Salvora commented on #323
Cloudflare API says:

[code]
I think the only thing that needs to be done is to change proxied to true.

[2020-11-08 05:59] jorhett commented on #319
@SimonPilkington fyi I'm seeing this as well. My nodes suddenly started falling out of cloudflare, so I was digging around to figure out why.

As per the other comments, the JSON is being terminated abnormally. On the QNAP system I'm testing on it is always after the 1858th character...

[code]

[2020-11-08 08:55] SimonPilkington commented on #319
@jorhett Since you're technically inclined could you inspect the log output of my branch above for your case? My conjecture is that Cloudflare's servers are doing something weird with their responses that Inadyn's `int ssl_recv()` doesn't always know what to do with.

[2020-11-10 00:39] jorhett commented on #319
@SimonPilkington unfortunately I'm seeing it on a QNAP which is an environment I'm not willing to tackle getting a compiler to work on sorry :(   Happy to give you any debugging, but unless I can replicate on a real OS I won't be testing that.

P.S. by comparing my old debug logs to what I see now, Cloudflare is returning a lot more details than they used to. I'm wondering if the response is now e

[2020-11-10 22:17] SimonPilkington commented on #319
One thing I noticed while writing my test branch is that in `ssl_recv()` the first call to `SSL_read()` is commented as receiving headers, and then another is commented as receiving the response body, but the first `SSL_read()` ends up receiving the headers, as well as a portion of the body. In my case the second `SSL_read()` then receives the rest of the body, but if it were to fail, we'd end up

[2020-11-11 07:23] troglobit commented on #319
Hmm, yeah that doesn't look right. We should probably have a construct similar to the one in `gnutls.c`.

[2020-11-11 14:40] SimonPilkington commented on #319
I'd like to leave that to you. As you can tell my experience with OpenSSL is limited. Once an improvement has been made hopefully someone here can retest.

[2020-11-11 16:47] troglobit commented on #319
OK, I'll see what I can do.

[2020-11-11 17:56] troglobit commented on #319
OK, I've done a refactor of the OpenSSL backend in 28b0918 on master.  So far I've only verified it with FreeDNS, which is my goto DDNS provider.  Testing by others would be much appreciated :pray:

Regarding fixed size buffers, I noticed the Cloudflare plugin has `RESP_BUFFER_SIZE = 4096`, whereas the default response buffer in Inadyn is `DDNS_HTTP_RESPONSE_BUFFER_SIZE	  (BUFSIZ < 8192 ? 8192 : B

[2020-11-12 05:48] jorhett commented on #319
The behavior witnessed would certainly match a too-small buffer size 👍  good find!

[2020-11-12 07:58] SimonPilkington commented on #319
My branch only has some heavier debugging output in the OpenSSL `ssl_recv()`, which is now incompatible with master. Nothing to try there.

I do agree with the change above, however. I was unaware of `DDNS_HTTP_RESPONSE_BUFFER_SIZE` when I was first writing the plugin. Feel free to merge.

[2020-11-12 09:32] troglobit commented on #319
There, response buffer size increased and pushed to master. Pending verification from someone with Cloudflare account && this problem.  Maybe @kevin-leong or @gchiappe can give it a whirl? :)

[2020-11-13 10:05] SimonPilkington commented on #319
So, funny thing: I tried master and now I can reproduce this. So while it isn't fixed, the change at least sort-of helped. I'm looking into it.

[2020-11-13 17:10] troglobit commented on #319
Wow, that's weird, but also kinda good that it's easier to reproduce.  I'm starting to think there may be some minor web server issues at play here as well.  It'd be interesting if you to test a silly `sleep(1);` after the request is sent ...

[2020-11-15 04:53] rayfoss opened #324 "Google Cloud DNS support? (ACME)"
Because of let's encrypt I switched to Cloud DNS, ... can this be made to work with it?
https://cloud.google.com/dns

The API https://cloud.google.com/dns/docs/reference/v1

[2020-11-15 08:34] troglobit commented on #324
Not as-is, we only have support for google domains rn.  To manage the cloud dns, inadyn needs a dedicated plugin.  From a quick glance at the docs it certainly looks possible.

[2020-11-15 16:39] rayfoss commented on #324
ACME is a little bit overkill right now. I'm sure some docker exists to that can translate between dyndns2 and ACME. I think a graphical flutter/electron layer or easier apple daemon/dockerized systemd creation are better upgrades.

[2020-11-15 16:39] #324 closed

[2020-11-18 23:15] queeup opened #325 "error on freemyip.com with ssl"
I am using latest docker container. There is a problem with freemyip.com and ssl.
[code]

#### Debug log with ssl:
[code]

#### Debug log without ssl:
[code]

[2020-11-19 05:50] troglobit commented on #325
Thanks for the report.  Can you tell if there's a problem with the latest release as well, v2.6 tag?  I suspect this is a regression only on the master branch due to a refactor of the SSL/TLS support.

[2020-11-19 08:27] queeup commented on #325
There is no problem on v2.6 tag.

[2020-11-19 17:58] troglobit commented on #325
Great, thank you for checking!  Confirms my theory.  Marking this as a blocker for the next release.

[2020-11-23 17:39] thed0ctor commented on #319
I am also experiencing this json truncated "failed to parse json" issue with cloudflare on the 2.7 release of inadyn. From the log it looks like it successfully updates the ip but the response isn't parsed properly

[2020-12-03 06:15] rayfoss commented on #324
For reference some one already made a dynamic dns client in python https://github.com/conorcunningham/google-ddns/blob/master/gcp_ddns.py

[2020-12-03 12:27] troglobit commented on #324
Cool, thanks for following-up! :)

[2021-01-03 01:06] ntkme commented on #319
The response is indeed truncated, but `vsyslog` may further truncate the debug message so don't trust that.

I tested this on alpine (musl) and `vsyslog` would truncate the debug message around `"paused":f` like this:

[code]

Now changed it to `vprintf` now it printed a slightly longer response, but still appear to be truncated:

[code]

[2021-01-03 07:33] ntkme commented on #319
Happy new year!

I've root caused this issue and purposed a fix in #328. @kevin-leong @gchiappe @SimonPilkington would you mind give it a try?

[2021-01-03 12:22] #319 closed

[2021-01-03 12:24] troglobit commented on #319
Happy new year everyone! :partying_face:

@ntkme Thank you, great work on this!  The code has been merged to mainline.

[2021-01-03 12:27] troglobit commented on #325
Very likely fixed in 14b3ee2 while adressing the Cloudflare bug.

[2021-01-03 12:27] #325 closed

[2021-01-03 13:00] SimonPilkington commented on #319
This works. Thank you, @ntkme. Happy new year.

[2021-01-04 11:08] #323 closed

[2021-01-04 11:33] #315 closed

[2021-01-04 11:41] troglobit commented on #315
Fixed by the relentless @ntkme :smiley:

[2021-01-05 05:02] ntkme opened #334 "Restart force killed inadyn with same pid as previous run would fail"
Just got hit with an interesting behavior when restarting container.

[code]

The bug exists in this piece of code where we check for pid running.

https://github.com/troglobit/inadyn/blob/19d0d29fdf71f3099ed4b6ba29e7db09cedbe90d/src/os.c#L255-L259

This code missed an edge case where the new process can possibly get the same pid as previous process.

The interesting part is that with container in

[2021-01-05 08:49] #334 closed

[2021-01-08 19:42] ntkme opened #337 "v2.8 Release"
@troglobit Thank you for quickly respond to issues and pull requests.

Any chance we can tag a new release soon?

Changes since v2.7: https://github.com/troglobit/inadyn/compare/v2.7...master

[2021-01-08 20:03] troglobit commented on #337
I'd like to finish the outstanding issues planned for the [v2.8](https://github.com/troglobit/inadyn/milestone/6) milestone first.  Not very difficult, minor fix and doc update. I need to do some regression testing as well, but that goes with every release so.

[2021-01-08 22:30] ntkme commented on #337
Did not see there is a milestone already there. Closing. Thanks!

[2021-01-08 22:30] #337 closed

[2021-01-24 09:56] erichegit opened #338 "no cache - Update forced spam"
In the documentation it is written, that the default cache is located at "/var/cache"
But when I look inside the container (bin/ssh) this folder is empty

In the Log I can see that my IP-Address is updated without a need because it didn`t change

**inadyn[1]: Update forced for alias ...**

When trying to add --cache-dir in the entrypoint - I can not start the container - doesn`t matter which path

[2021-01-27 19:41] erichegit commented on #338
I looked into the container and there is nothing logging my current IP-Address in the cache folder!

Also your readme is not consistant in this point

[2021-01-27 21:07] troglobit commented on #338
Honestly, I've never used the docker container personally. It was contributed by other users.  The project README, and the UNIX manual pages, document how to use the program when it runs as a regular application.

To get a persistent store from your host available in your container use `docker run -v /path/to/host/dir:/var/cache`.  That's what I do when I run other containers.  Without it your con

[2021-01-28 15:18] hongyi-zhao opened #339 "Socks5 proxy support of inadyn."
Does inadyn support the host's IP address updating behind a socks5 proxy?

Regards,
HY

[2021-01-28 15:45] troglobit commented on #339
In simple terms, In-a-dyn works like this; when starting up in sends a GET request to a public "checkip" server, e.g., http://checkip.dyndns.com/, the text returned contains the IP address the rest of the world sees you with.  This IP address (the text string) is then sent to your preferred DDNS provider using another GET request along with your account details.  This is then what  determines what

[2021-01-28 15:45] #339 closed

[2021-01-28 18:30] erichegit commented on #338
Of course I can let docker also run this way

`docker run --rm -v "$PWD/volume/inadyn.conf":"/etc/inadyn.conf" -v "$PWD/volume/cache":"/var/cache" troglobit/inadyn:latest`

But 2 Problems

1. after Update the container isn`t exiting
2. doesn`t matter what I am doint - the cache with my IP-Address is not written

Because of the effect, that my IP-Address is not saved, Inadyn ALWAYS forces it to upd

[2021-01-28 21:29] troglobit commented on #338
OK, I just tested this and I have no problems.

Maybe you're not familiar with inadyn and its options. I recommend reading the manual page.   Here's one way, my HTML generated page: <https://man.troglobit.com/man8/inadyn.8.html> there is a link at the bottom to `inadyn.conf(5)` as well.

Also, when running in a docker container run with less privileges than usual. So you must make sure to create t

[2021-01-29 01:30] hongyi-zhao commented on #339
Thanks a lot, got it. If so, the GET request through a socks5 proxy will return the IP address of the socks5 proxy, so this is not applicable for this scenario.

[2021-01-29 16:45] troglobit commented on #339
Ah, almost forgot! You can optionally, instead of asking an external server, send the IP address of an interface or call an external script.

More info here: <https://man.troglobit.com/man5/inadyn.conf.5.html>

[2021-01-30 04:20] hongyi-zhao commented on #339
Wonderful, thanks a lot for your elaborate design.

[2021-01-31 09:04] troglobit commented on #338
Any comment, or can we close this?

[2021-01-31 09:07] erichegit commented on #338
Thanks for your help - I closed it

[2021-01-31 09:07] #338 closed

[2021-01-31 09:07] troglobit commented on #303
Closing due to inactivity.  Final note, it would be great if someone could adopt inadyn in Debian instead.

[2021-01-31 09:07] #303 closed

[2021-01-31 10:56] #306 closed

[2021-01-31 10:56] #314 closed

[2021-01-31 13:54] acolomb commented on #303
Sorry I didn't follow up because my own issue was solved after upgrading to Ubuntu 20.04.  The only remaining actionable item here would be to mention the minimum required Ubuntu / Debian version in the README along with the download instructions.  Probably most users who are still on 18.04 kind of know their way around and can easily build from source.

Frankly, I don't consider adoption in Debia

[2021-01-31 14:40] troglobit commented on #303
There's a note in the releases section, "Packages for Debian 10, or later, and compatible Ubuntu releases, available at https://deb.troglobit.com/".

[2021-01-31 14:47] troglobit commented on #337
There, released! :) https://github.com/troglobit/inadyn/releases/tag/v2.8

Thank you again for your invaluable contributions <3

[2021-01-31 15:49] acolomb opened #340 "Option parsing errors since v2.8"
I updated to the just-release v2.8.0 version from the provided DEB file. Now no IP update works anymore, giving such error messages during config parsing:

    Jan 31 16:44:33 offspring systemd[1]: Started Internet Dynamic DNS Client.
    Jan 31 16:44:33 offspring inadyn[572959]: In-a-dyn version 2.8 -- Dynamic DNS update client.
    Jan 31 16:44:33 offspring inadyn[572959]: /etc/inadyn.conf:15: n

[2021-01-31 17:33] #340 closed

[2021-02-01 06:57] troglobit commented on #340
This fix is now part of the v2.8.1 release.

[2021-02-10 18:10] Makishima opened #342 "twoDNS is not working anymore"
Hello!
My old inadyn.conf is not working anymore with twoDNS, I can't figure out what's wrong.
I've removed some sensitive data but the password and login is 100% actual
[code]

[2021-02-10 18:12] troglobit commented on #342
Duplicate of #314

[2021-02-10 18:13] troglobit commented on #342
The only way we could support their v1 API was using the custom plugin.  To do it properly we need a dedicated plugin.  I suggest changing DDNS provider, e.g. freedns is really good.

[2021-02-10 18:13] troglobit commented on #342
Propose close, won't fix

[2021-02-10 18:48] troglobit commented on #342
@Makishima any comment before we close this?

[2021-02-10 18:53] Makishima commented on #342
Thanks for a quick response.
My last words are a hope that you will be adding support for twodns's v2 API someday :)

[2021-02-10 19:15] troglobit commented on #342
@Makishima that's not how open source works.  It works like this; you have an it and scratch it, then share that with the rest of the community. What you're describing is the traditional proprietary software development model where you pay me to help you.

[2021-02-10 19:15] #342 closed

[2021-02-11 08:42] Makishima opened #343 "How inadyn as a service supposed to work?"
Hello!
My setup is `Ubuntu 20.04.2 LTS` and `inadyn 2.8.1`

Inadyn is running as service looks normal `sudo service inadyn status`
[code]

My conf is
[code]
`sudo inadyn  --check-config` is ok

If I run `sudo inadyn --force -n` it will be update dynu and freedns domains.

[2021-02-11 08:43] Makishima commented on #343
`sudo tail -n 100 /var/log/syslog`
show up that inadyn is not running every 5 minutes as I expected it would be as `period` settings

[2021-02-11 08:45] troglobit commented on #343
Are you sure, have you run with `-l debug` on command line?

[2021-02-11 08:48] Makishima commented on #343
`sudo inadyn -1 -n -l debug` does not update IP as well
I figure out that there is an old value (A) in `/var/cache/inadyn/*.cache`
But `dig <domain>` shows a new value (B) that I want to change to (A)

[2021-02-11 08:50] troglobit commented on #343
Hmm, odd. Nothing I've seen in my (personal) setups or at $DAYJOB.  I'll have to spend some time to investigate/replicate to give a proper answer.

[2021-02-11 08:51] Makishima commented on #343
So it looks like `inadyn` do not update its cache or check an actual IP of the domain upon running without --force

[2021-02-11 08:54] troglobit commented on #343
That should not be necssary, so unless there's something else at play here to mess things up, then it's a regression I do not know about.

[2021-02-11 08:56] Makishima commented on #343
To be more clear what I'm doing

1. Get some domains at freeDNS and dynu.com
2. Setup them some initial IPs
3. Prepared `inadyn` conf and run it as `sudo inadyn -1 -n -l debug`. This run changed IP from initial to actual on both providers
4. Revert IP to initials and leave them
5. Check and restart `inadyn` to ensure how its work as a service in the evening
6. In the mornings figure out that IPs i

[2021-02-11 09:47] troglobit commented on #343
I just tested this with my own setup and could not find anything wrong with this. I even tested setting `fake-address = true` and sending SIGUSR1 (as mentioned in the manual), and it clearly both 1) checks every 300 sec, and 2) updates the IP address.

When you say "setup some initial IPs", what do you mean by that?  In-a-dyn by default only checks if your public IP address has changed.  So if you

[2021-02-11 09:57] Makishima commented on #343
I have the VPS IP that I want to be assigned via inadyn, it's a dedicated address not behind the NAT.
By "initial IP" I mean that I set my home IP (it's dedicated too) to DDNS hostname so I can check that inadyn will change it to VPS  IP

[2021-02-11 09:58] troglobit commented on #343
OK.  Just checking.

[2021-02-11 10:03] troglobit commented on #343
Does inadyn have write permissions to the cache directory?  The default cache directory is /var/cache/inadyn, but since #309 we no longer try to create/chmod this directory, so i must be created and writable by the UID that inadyn runs as before it starts.

[2021-02-11 10:11] Makishima commented on #343
Yes, it is writeable because inadyn creates *.cache files
`drwxr-xr-x  2 debian-inadyn debian-inadyn 4096 Feb 11 09:18 inadyn`
[code]

[2021-02-11 10:13] troglobit commented on #343
Hmm, weird.  OK, I'll have to dig deeper, but unfortunately not now because of $DAYJOB. Will have a look at it again later tonight (CET).

[2021-02-11 10:17] Makishima commented on #343
Also, send SIGHUP to inadyn via htop, maybe reloading conf will help.

[2021-02-11 17:24] Makishima commented on #343
Should `inadyn service` write anything in `/var/log/syslog` if he performs checks?
Last entry is `Feb 11 11:58:35 vps inadyn[2011906]: In-a-dyn version 2.8.1 -- Dynamic DNS update client.` when I restart service

[2021-02-11 18:38] troglobit commented on #343
Not by default, then it only logs updates.  But you can change the command line argument to `-l info` to get address probe logging as well.

[2021-02-11 18:51] troglobit commented on #343
Sorry, I can't reproduce your problem.  This is what I see on my end when I change the IP address of my interface:

[code]

[2021-02-11 18:55] Makishima commented on #343
Thanks.
There is almost the same lines as I run `inadyn -1 -n `manually
[code]

I think there is something wrong with the cache but I can't figure it out.
`Cached IP# XXXX for XXXX.routemehome.com from previous invocation.`

[2021-02-11 18:59] Makishima commented on #343
Thank you for helping, I will try to resolve this issue with `--purge` reinstall

[2021-02-11 19:38] Makishima commented on #343
Nope, reinstall didn't help, IP is updated only for a first run while inadyn invoke force update

`This is what I see on my end when I change the IP address of my interface:`
If possible could you please check my case?

1. Set IP "A" in freeDNS web interface
2. Reload inadyn service or/and purge cache file so inadyn will update IP
3. After inadyn updated IP, change it back via freeDNS web interfac

[2021-02-11 20:59] troglobit commented on #343
Um, I don't have to test that to tell you what happens.  It's nothing.

This is mentioned in the documentation already, but Inadyn doesn't query DNS or ask the DDNS provider what the IP is. It only checks with an external service what IP the rest of the Internet sees it coming from.  If that IP address differs from the last one it recorded in its cache, or if the cache file is missing, then a HTTP

[2021-02-11 21:55] Makishima commented on #343
I'm sorry for wasting your time.
It is was a bit unclear for me about this nuance from docs.
Is it configurable to query DNS value?

[2021-02-11 22:11] troglobit commented on #343
Please see the documentation for how to use a script to do the work you need.

[2021-02-11 22:11] #343 closed

[2021-02-11 23:58] ericlathrop opened #344 "Docker Hub should have tags corresponding to git tags"
Would it be possible to setup the GitHub Actions to push a Docker tag corresponding to any git tags that are pushed? I don't want to run `latest`, which is equivalent to `master`.

[2021-02-14 03:59] troglobit commented on #344
I'll have a look at it for the next release cycle.

[2021-02-16 02:31] CoderYellow opened #345 "Http proxy support!"
I got this error:
[code]
Because some DDNS service has bean blocked in China. Can inadyn use environment variable `https_proxy` to proceed api request.

[2021-02-16 02:48] troglobit commented on #345
There was some initial work done for general proxy support, but it was never completed. Lack of time to work on the feature, and proxy servers to test against, were the primary reasons.  See #157 for details.

The error code can also be returned when there's a delay in connecting, which we don't handle properly, I just noticed.  The socket is non-blocking and for such cases we should call poll() o

[2021-02-19 08:35] hongyi-zhao opened #346 "Update the client's ipv6 address to dnspod's ddns server."
Does this tool support the ipv6 address update to dnspod's ddns server.

Regards,
HY

[2021-02-19 13:10] troglobit commented on #346
Maybe something @ysc3839 can help answer?

[2021-02-22 20:43] ysc3839 commented on #346
Sorry, I have not use this project after switched to OpenWrt (which has a shell script based ddns system).
I will have a look when I have time.

[2021-02-26 22:42] queeup opened #347 "ipv4.wtfismyip.com not working anymore."
#### New address is: wtfismyip.com/text
[code]

##### My inadyn and container version:
[code]

##### My debug log:
[code]
##### When I trying to reach the site:
[code]

##### References:
https://github.com/troglobit/inadyn/blob/5f7ef01e2b5597c02e15c0001a9a250f0356d774/plugins/freemyip.c#L47
https://github.com/troglobit/inadyn/blob/5f7ef01e2b5597c02e15c0001a9a250f0356d774/plugins/duckdns.c#L47
http

[2021-02-26 23:05] troglobit commented on #347
Hmm,

I'd suggest we instead go with the default checkip server in In-a-dyn api.ipify.org, The define is `DDNS_MY_IP_SERVER` and the service is a lot more reliable than wtfismyip.com ...

... care to test and whip up a patch/pull-request, @queeup ?

[2021-02-27 01:24] queeup commented on #347
Let me test with `checkip-server = default` and then report you back in a few days.

[2021-03-04 20:30] queeup commented on #347
After some time (few days later) I get this error:

[code]

Because of my network or what? It's google cloud server vm.

How can I enable `debug` output on docker container? Is there any `environment` variable or `config` entry?

[2021-03-04 23:23] troglobit commented on #347
Hmm, wonder what this could be? :-/

Docker isn't my specialty, the Dockerfile and the build setup was submitted by a few users who wanted me to provide it in the repo.  I don't use it myself, and it's a bit cumbersome for me since I'm the one ending up with the support ... but a quick google suggests you should be able to add args to the inadyn command using the `docker run ...` command --> https

[2021-03-05 09:32] queeup commented on #347
No worries. Having docker container is a good thing. I will investigate.

[2021-03-07 23:02] queeup commented on #347
Sometimes `api.ipify.org` is returning `503 Service Unavailable`. Probably It's a normal thing. It happens once or twice a day.  It's up to you to ditch or correct the link of `wtfismyip.com`.
[code]

[2021-03-08 07:12] troglobit commented on #347
Aha, yeah that makes sense.  Thank you for taking the time to check!

Btw, does Inadyn recover properly when the service comes back again, or does it remain stuck?

[2021-03-08 07:26] queeup commented on #347
It recovers back.

[2021-03-08 07:53] troglobit commented on #347
That's great, thank you!  Then at least I don't have to worry about that :)

I'll prepare a fix to transition to ipify then.

[2021-03-08 08:03] #347 closed

[2021-03-10 11:32] steveharman opened #348 "Support for dynu.com DNS"
Hi,

These guys offer a "free forever" DYN DNS service across a globally distributed network of nameservers and have been for some years.  It would be nice to see "native" support for them.

https://www.dynu.com/en-US/DynamicDNS

Thanks

[2021-03-10 12:21] troglobit commented on #348
Already supported in the dyndns.so plugin; along with 9 others:

 https://github.com/troglobit/inadyn/blob/master/plugins/dyndns.c#L220

Unless they've changed their API and we're now suddenly incompatible, I propose closing this.

[2021-03-10 13:03] steveharman commented on #348
Ah right, yes - please close.  Is it worth highlighting the support for Dynu et.al, to stop other idiots like me creating a ticket?  ;-)

[2021-03-10 15:52] f1ames0ff opened #349 "Can't find Windows x86 in release versions"
Can't find Windows x86 in release versions. Could someone elaborate where I can download the latest build?

[2021-03-10 17:45] troglobit commented on #349
Best laugh I've had in a long time, thank you! 😂

[2021-03-12 14:56] troglobit commented on #349
No builds available, Windows not supported.

[2021-03-12 14:56] #349 closed

[2021-03-12 14:57] troglobit commented on #348
I dunno what else I can do, it's listed on the front-page of the project, in the README @ https://github.com/troglobit/inadyn#supported-providers

[2021-03-12 14:57] #348 closed

[2021-03-17 12:35] f1ames0ff commented on #349
Why not?

[2021-03-17 14:39] troglobit commented on #349
With software its rarely a technical issue.   It's simply because I'm the single (unpaid) maintainer of this project and have no personal interest in supporting that platform.  There are plenty of other DDNS client alternatives for Windows anyway.

[2021-03-24 23:07] ioogithub opened #350 "Cannot find DDNS provider ip4@nsupdate.info, check your spelling."
I can't figure out what I am doing wrong:

`inadyn -S ipv4@nsupdate.info -a server.nsupdate.info -p xxxxx -u server.nsupdate.info --L /var/log/inadyn/inadyn.log -t`

I always get:

[code]
I have also tried to edit the config file and start the sysdemd server using the recommended config on the nsupdate.info site:

[code]

When I do a:

`inadyn --check-config`

I get:

[code]

According to these si

[2021-03-25 07:04] troglobit commented on #350
Your report is for a software version I released in 2013.  I have made 17 releases, including a major redesign of the software. I'm not able to support such old releases.   Also, since this is distributed to you from Debian, or the Raspberry Pi foundation as a Debian derivative, your bug report, questions, and support is handled by them.

Sorry, but I'm closing this report.

[2021-03-25 07:04] #350 closed

[2021-03-25 16:51] ioogithub commented on #350
So basically you are saying that your software can't be used on a Raspberry Pi?

I will look for another solution, thanks.

[2021-03-25 20:26] acolomb commented on #350
No, that is absolutely not true. Just that the version of this software that gets offered for installation on the Pi is based on an ancient version. For which only the respective distribution is to blame, although blaming doesn't help.

It can be built from source on the Pi, or maybe you can find a pre-built binary of the current version somewhere that works.

[2021-03-25 23:23] troglobit commented on #350
Like André says. Modern versions of inadyn may very well work fine, that old version you unfortunately have probably doesn't.

Your case is not uncommon. Many users show up here asking for support, but we cannot support such old versions. Not only is it ancient and no longer distributed by us, but we're also not payed by you or anyone else to support it.

[2021-04-27 15:20] f1ames0ff commented on #349
@troglobit Thanks. I already found another one.

[2021-04-28 15:08] Thecat8413 opened #351 "Wildcard Option On Google Domains"
Currently using the following conf (I have removed Username, Password, and Domain Name details)

(I added a slash to commented parts to prevent weird GitHub formatting)
/# Inadyn v2.0 configuration file, automatically generated by debconf
/# Do not edit this file directly unless you select 'Advanced' during
/# your next invocation of dpkg-reconfigure inadyn
/#
/#
/#
/# For details on the syntax of

[2021-04-28 16:42] troglobit commented on #351
Hmm, to be perfectly honest, I don't know.  In #256 we discussed the lack of proper documentation here, and as a result the root example was added.   Maybe you don't need to set the wildcard flag?  Iirc that appends a flag to the URL used for the update to Google.

There are variations between DDNS providers, but many use the exact same protocol as Dyn.com first published.  The Google plugin is ju

[2021-04-28 17:06] Thecat8413 commented on #351
I have tried entering the host name as *.example.com (which is how the wildcard input is set up on the Google Domains DDNS entry) but that errored out.

(I have stripped out identifying info, example.com and the ~.~.~.~ IP have the correct details in actual log)

inadyn.conf:
period = 300

provider domains.google.com:1 {
hostname = @.example.com
username = ~
password = ~
}

provider domains.google

[2021-04-28 18:29] troglobit commented on #351
Try with `"*.example.com"` and/or check the transaction with Wireshark/tcpdump/tshark/termshark.  Would be neat to see what goes on on the wire for this.  You can also run inadyn with `-l debug` to get some more info.

[2021-04-28 19:09] Thecat8413 commented on #351
Adding the quotes worked! Thank you very much!

[2021-04-28 19:09] #351 closed

[2021-04-28 20:12] troglobit commented on #351
Cool, do you mind posting the last working config?  Sans your credentials of course.

[2021-04-28 23:21] Thecat8413 commented on #351
period = 300

/# Root Domain Entry
provider domains.google.com:1 {
        hostname = @.example.cc
        username = ~
        password = ~
}
/# Wildcard Subdomain Entry
provider domains.google.com:2 {
        hostname = "*.example.com"
        username = ~
        password = ~
}

[2021-04-29 04:55] troglobit commented on #351
Awesome, thank you! <3

[2021-04-29 14:24] Thecat8413 commented on #351
@troglobit Regarding the update to documentation, I would put the google examples after the no-ip examples since the google example uses the multiple usernames sub index explained in the no-ip examples.

[2021-04-29 15:09] troglobit commented on #351
Good point! I'll see if I get some time to do it later tonight ... unless you best me to it with a quick PR? ;-)

[2021-05-16 17:57] Johennes commented on #237
I think the original issue is you need `system default@freedns.afraid.org` not `system freedns.afraid.org`.

[2021-05-26 10:09] jgh004 opened #352 "dnspod plugin's bug"
When the A record is updated without sub_domain, the A record of the root domain name will be updated
For example, I want to update ddns.xxx.com
Actually it updated xxx.com
Forgive my bad english

[2021-05-26 13:38] troglobit commented on #352
That plugin was submitted by @ysc3839, maybe he or someone else can give some input here.

[2021-05-27 06:56] ysc3839 commented on #352
Sorry, I'm not using dnspod now, and I'm not interesting in fixing this issue.
Maybe I will have a look when I have time.

[2021-05-27 09:29] troglobit commented on #352
No problem, thanks for checking back! <3

Anyone else using dnspod can help out by reproducing the problem, locating their API documentation, and suggesting a fix.

[2021-07-05 21:18] moguls753 opened #353 "Error parsing option --period"
Hey,

i got this parsing error, checked the man page and still didn´t get it.

`Jul 05 23:14:31 truenas.local systemd[1]: Starting LSB: DynDNS client...`
`Jul 05 23:14:31 truenas.local inadyn[449325]: Starting DynDNS client : inadyn`
`Jul 05 23:14:31 truenas.local inadyn[449329]: Mon Jul  5 23:14:31 2021: Error parsing option --period`
`Jul 05 23:14:31 truenas.local inadyn[449329]: Mon Jul  5 23:1

[2021-07-06 06:22] troglobit commented on #353
What version of inadyn are you running? Modern versions, supported here, don't have those error messages anymore.

If you are trying a config file from this project on an older version of inadyn, it won't work.

[2021-07-06 08:51] moguls753 commented on #353
Indeed, it's this version: inadyn (1.99.4-1) (TrueNas Scale)
Where can i look to find the correct syntax for configuration?

[2021-07-06 09:16] troglobit commented on #353
Oh dear lord ... that's an old version! :-/

OK, maybe we can close this issue then?

[2021-07-06 09:31] moguls753 commented on #353
Yes we can, thx.

[2021-07-06 09:50] #353 closed

[2021-07-16 01:25] crocokyle commented on #205
I also completely misunderstood the help and assumed setting the log level set the level for the inadyn service rather than for that particular command.

[2021-07-16 01:36] crocokyle opened #354 "No update or output from Google Domains"
Currently running v2.3.1 on raspbian with google domains.
`inadyn --check-config -l debug`
[code]
`cat /etc/inadyn.conf`
[code]
`tail -f /var/log/syslog`
[code]
`cat /var/cache/inadyn/@.heavyiron77.com.cache`
[code]
Running `inadyn 1 -l debug` outputs nothing but Google Domains still shows no update to the IP
![inadyn](https://user-images.githubusercontent.com/11140843/125878316-ef3c3bff-376e-476a

[2021-07-16 04:29] RMerl opened #355 "FreeDNS/Afraid: authentication errors aren't properly handled/reported"
When an authentication error occurs with FreeDNS, it does not return a 403, instead it returns the following string:

[code]
This line is logged with a level of LOG_DEBUG, meaning in normal use the error will go unnoticed.

I suggest the following change that will ensure that if a reply is an error, then LOG_ERR is used instead of LOG_DEBUG:

[code]

Any thoughts?  Maybe there is a cleaner way to

[2021-07-16 05:40] RMerl commented on #355
The second issue seems to be closely tied to the same code section after all.  If there is an authentication failure, then the parent caller only gets RC_ERROR instead of  RC_DDNS_RSP_AUTH_FAIL, which means the client won't exit with a fatal error, and it may just keep retrying.

I think more extensive changes may be necessary to the freedns.c plugin to better handle this.  fetch_keys() need to co

[2021-07-16 06:23] RMerl commented on #355
PR #356 should take care of both (resolve handling of authentication issues, and improve logging of errors).

[2021-07-16 08:05] #355 closed

[2021-07-19 13:54] troglobit commented on #354
Unfortunately I don't have google domains myself, hopefully someone else can chime in here.  However, it would be great if you could post the output from `inadyn -1 -l debug` ... making sure to filter out your password of course.

The only thing I can think of is to try running also with `--force`, to bypass the Inadyn caching mechanism.

[2021-07-20 00:01] crocokyle commented on #354
`inadyn -1 -l debug` outputs nothing at all unfortunately, but I was able to make updates just using a bash script/cron for now.

Here is the bash script I'm using successfully at the moment:
[code]

I'd love to help out with a PR, but I'm not great with C. I can give you access to one of the old domains I don't use through Google Domains if you'd like. I've got several that I'm no longer using. T

[2021-07-21 13:23] troglobit commented on #354
Personally I only get to test against freedns, so a Google Domain account would be awesome, thanks!  I'm actually working on setting up some sort of automated tests right now, so this would be great.  My email is troglobit@gmail.com

[2021-07-22 10:58] troglobit commented on #354
Sorry, I realize now that I forgot `-n` in the command above, it should read: `inadyn -1 -l debug -n` to run in foreground and get debug logs to stderr, otherwise it goes to syslog.

[2021-08-05 21:26] chiphead2332 opened #357 "arm64 .deb?"
Any chance you could provide a pre-compiled arm64 version on the apt repo? I'm running 64-bit ubuntu on a raspberry pi and there are no binaries for my architecture. I'm building from source for now but the extra convenience would be appreciated.

[2021-08-05 21:38] troglobit commented on #357
I don't have the time or resources to support other archs atm.  I'd propose pushing Ubuntu to in turn push Debian to update their package instead.  I've tried to help out (downstream), but the effort seems to have died out.

[2021-08-05 21:38] #357 closed

[2021-08-05 21:41] chiphead2332 commented on #357
Fair enough, thanks.

[2021-09-13 17:59] clarjon1 opened #361 "Documentation unclear for namecheap support"
Hello,

I am looking to start using inadyn for dynamic dns updates with namecheap

However, there appears to be conflicting information in the documentation. The documentation simultaneously states that namecheap is fully supported, but the only example shown is via the custom section, which is meant for use for unsupported services.

Could the documentation be updated with an example of namecheap

[2021-09-14 14:46] troglobit commented on #361
The project is open to help and pull request to update the documentation.

[2021-09-17 02:56] clarjon1 commented on #361
Well, as a user who has never used this software before, I'm afraid I can't be much help when I'm relying on documentation to learn how to use it properly. Hopefully someone who has used this with namecheap recently will happen to check the github users to fix this, as there's a good chance that if I tried submitting with my current level of knowledge, i may introduce insecure or inaccurate inform

[2021-11-05 16:32] imess commented on #352
Looks like the subdomain is missing from line 177 of plugins/dnspod.c,

`login_token=%s%%2C%s&format=json&domain=%s&record_id=%d&record_line=%s&value=%s**&subdomain=%s**`

and line 179
`domain, record_id, "%E9%BB%98%E8%AE%A4", alias->address**, prefix**);`

try fixing it and compiling yourself

[2021-11-10 10:56] dimir-ubnt opened #365 "Memory leak in OpenSSL backend"
Hi,

I am using inadyn 2.8.1 with openssl 1.0.2u and facing a memory leak when getting an ssl error.
[code]
valgrind shows
[code]
If an ssl error occurs during http_init, then the client is not marked as initialized; but if it is not initialized, the connection is never freed.

Here is a patch to fix the leak itself.
[code]

But I'm not sure if this is enough to fix everything. I saw inadyn memory

[2021-11-10 14:57] troglobit commented on #365
Ouch, thanks for the heads-up and patch suggestions!  I'll look into it and get back to you within the next couple of days.

[2021-11-11 06:18] troglobit commented on #365
Here's an alternative patch, which I believe should work better. I've run it through valgrind with some fault injection and it seems fine on my system, OpenSSL 1.1.1f-1ubuntu2.  If you could give it a spin I'd be really grateful!

[code]

[2021-11-11 06:44] dimir-ubnt commented on #365
Thank you.
I will try, but it will take some time. Probably, some results will be ready tomorrow.

[2021-11-11 07:22] troglobit commented on #365
Thanks, no rush! <3

[2021-11-11 08:17] dimir-ubnt commented on #365
So far, so good. Valgrind shows no leak and I am waiting for the results of long-run test.
The only suspicious moment I see is the use of `SSL_shutdown` function. In the case of the proposed patch, it is called unconditionally on any ssl error. Although the documentation says
[code]

[2021-11-11 14:03] troglobit commented on #365
Great to hear!

Yeah, it's not entirely easy to navigate the dos and don'ts of OpenSSL, in particular between various versions.   I'll have a look in detail again later tonight and do some fault injection to verify, but you're probably right.

[2021-11-11 19:11] troglobit commented on #365
OK, so here's an alternative patch.  Now SSL_shutdown() is only called if the connection was successful.    I've omitted a similar hunk for gnutls.c from the patch since you only seem to use OpenSSL/LibreSSL.  Any feedback is most welcome:

[code]

[2021-11-11 19:14] troglobit commented on #361
Looks better, anyone up for submitting a PR with this change, updating both README and man page(s)? A new release is coming up soonish, so would be great to get this in.

[2021-11-11 19:15] troglobit commented on #352
Anyone had a chance to test this latest suggestion yet?  Since I don't have dnspod myself I cannot test, and would likely risk breaking the plugin even further if I do the change speculatively.

A new release is coming soonish, so if someone can submit a pull request, or at least help out testing that would be much appreciated!

[2021-11-12 06:49] dimir-ubnt commented on #365
The previous solution was stable. There was no leak throughout the day.
I will be back with new test results on Monday.

[2021-11-12 07:03] troglobit commented on #365
Awesome, thank you for the feedback so far! <3

[2021-11-15 06:57] dimir-ubnt commented on #365
Looks more or less stable.
[code]

[2021-11-15 08:10] troglobit commented on #365
Looks OK, still a bit worrying to see overall memory use increasing ...

[2021-11-15 08:18] dimir-ubnt commented on #365
The first increase is quite common, at least in my configuration.
Something like:
[code]
from 52 (?) to 60 reachable blocks.

Not sure about the second one.

[2021-11-15 09:38] troglobit commented on #365
I'll have a look at this later, in more detail, before the next release.  Leaning towards setting up a long-term test tonight, to flush this out, and aim for a release this weekend.

Huge thanks for your help testing, *and* reporting this! <3

[2021-11-18 06:32] #365 closed

[2021-11-21 10:37] troglobit commented on #344
Should be fixed in 330dfa63, so 2.9.0 (due today) should be tagged also on docker hub (and ghcr). Please let me know otherwise.

[2021-11-21 10:37] #344 closed

[2021-11-21 12:31] #361 closed

[2021-11-21 12:36] #352 closed

[2021-11-21 12:36] troglobit commented on #352
OK, no response in this thread. I've added the suggested fix to the plugin in b6e7ea9.  It's a speculative change and completely untested, but will at least be part of v2.9.0

[2021-11-21 14:21] imess commented on #352
Sorry for the delay. I have been using this fix for over two months, it
works flawlessly.

On Sun, Nov 21, 2021 at 8:36 PM Joachim Wiberg ***@***.***>
wrote:

[2021-11-21 15:35] troglobit commented on #352
@imess OK, thanks! Let's hope I got it right ...

[2021-11-27 15:05] cjbaghl opened #366 "Unable to install inadyn 2.9.0 on Ubuntu 20.04, missing dependency on libnettle6"
Attempted to update inadyn 2.8.1 to 2.9.0.  Failed due to a dependency on libnettle6.
I uninstalled inadyn and went thru the recommended install instructions.
Received the following during apt install:
root@server:/etc/apt/sources.list.d# apt install inadyn
Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean t

[2021-11-27 19:42] troglobit commented on #366
The .deb is built on an older Debian 10 system. Previously that ensured support for Debian and Ubuntu systems alike.  However, in eea6a58 we added support for optimized SHA1 and MD5 functions from libnettle, which is of ABI version 6 in Debian 10 and 7 in Ubuntu 20.04.

To support your installation you can rebuild the .deb from the release tarball.

A future release may make libnettle optional and

[2021-11-28 07:39] troglobit commented on #365
Just FYI, https://github.com/troglobit/inadyn/releases/tag/v2.9.0 was released last weekend :)

[2021-11-29 07:57] dimir-ubnt commented on #365
Thanks. I already took the latest build. Let's see how it goes.

[2021-12-02 01:16] tsanga13 opened #367 "Issue with multiple hosts using custom Namecheap definition"
I followed the template to create a custom Namecheap config per README.md:

[code]

However, host2 and host3 fail to update. When I inspect the debug log for the three HTTP GET update requests, I find that https://dynamicdns.park-your-domain.com/update?.... is made for host1, host1host2, and host1host3.

It appears that inadyn is concatenating the second and third requests. I'm using version 2.8.1

[2021-12-02 01:45] troglobit commented on #367
Ouch, thanks for taking the time to report this!  A v2.9.1 is already planned, and this issue may help expedite it.

[2021-12-02 03:39] tsanga13 commented on #367
Thanks for the quick response!

[2021-12-06 01:03] acolomb commented on #366
Would you consider at least making the "source packages" available in your APT repository? Such that this command will work when having the corresponding `deb-src` line in sources.list:

    apt source inadyn

[2021-12-06 06:01] troglobit commented on #366
@acolomb in my current development flow I've automated everything using GitHub actions, except for building the .deb package.  That's the only step that's made by hand using a few scripts I've set up, and it doesn't generate the source package, nor do I have that infrastructure set up.  I understand where you're coming from, but as I've mentioned before to you, I'm a single person with very small

[2021-12-09 19:11] troglobit commented on #366
I've looked into this mess a bit further now.  Turns out Debian 10 (Buster, a.k.a "oldstable") had libnettle6 (ABI version 6), which my .deb-build server runs -- the idea was to support as many distros as possible.  The current Debian 11 (Bullseye, stable) has libnettle8, while Ubuntu 20.04 and Linux Mint 20.x all have libnettle7.

This (not new) dependency comes from our having to build the .deb

[2021-12-09 19:11] #366 closed

[2021-12-09 19:30] #367 closed

[2021-12-09 19:43] acolomb commented on #366
No worries, completely understand your reasoning.  Great to see continued work on the offical Debian package by the way! I hope it will be as easy to build from Git as it was up to now.

[2021-12-09 21:12] acolomb commented on #366
I just noticed the README still contains instructions involving the APT repository.

[2021-12-09 21:30] troglobit commented on #366
Thanks for the heads up, I’ll clean it up tomorrow before $DAYJOB.

On Thu, 9 Dec 2021 at 22:13, André Colomb ***@***.***> wrote:

[2021-12-13 11:05] deku-m commented on #298
Ticket can be closed.

This awesome man build a addon for it:
https://github.com/alexbelgium/hassio-addons/tree/master/inadyn

[2021-12-13 11:05] #298 closed

[2021-12-27 04:58] maxisam opened #370 "Can't build with OpenSSL 1.1.1k"
Thanks for the great project.

I tried to build it on Raspbian GNU/Linux 11 (bullseye) with enableOpenSSL and it failed with error message like no openssl

However, it actually has OpenSSL 1.1.1k installed.

It built without the flag.

[2021-12-27 08:24] troglobit commented on #370
You need the libssl-dev package, do you have that installed?

[2021-12-29 21:17] exaveal opened #371 "Inadyn does only update my IP the first time"
I have the problem, that inadyn only updates the ip the first time, when I start inadyn. When the ip address changes (e.g. reconnect to the internet on my router), inadyn recognizes the new ip, but does not update the ip at my dyn-dns-provider (/or sends a request).

In the status of the inadyn service you see:

1. at 19:47:21 the system started and the ip was send to my dyn-dns-provider and was u

[2021-12-30 17:50] troglobit commented on #371
Hi @exaveal, the v2.7 release is too old for us upstream to support.  I have a vague recollection of this being a regression that was fixed in a later release.

I suggest you either test the [latest release](https://github.com/troglobit/inadyn/releases/latest), or report this problem to the maintainers of the snap package, so they can test and update their package -- the maintenance of that packag

[2022-01-01 16:41] jjpinom opened #372 "Proxied option for Cloudflare not working"
I have the folowing config:

provider cloudflare.com {
        username = xxx@domain.com
        password = abcdefg
        hostname = host.mydomain.com
        proxied = true *This line does not work
}

This is the syntax explained in the inadyn example, but the daemon responds:

/etc/config/inadyn:7: no such option 'proxied'

[2022-01-01 17:27] troglobit commented on #372
Hi @jjpinom, what version of Inadyn are you using? This proxied option was introduced in v2.8

[2022-01-02 03:20] jjpinom commented on #372
Hello. Thanks for answering me.

The inadyn -v says: 2.7

So, I suppose that's the reason this option is not working.

I installed inadyn on a OpenWRT Router (OpenWrt 21.02.1 r16325-88151b8303).

The Inadyn Package version is: 2.7-1

I don't know who is in charge of OpenWRT package for Inadyn.

[2022-01-02 04:15] troglobit commented on #372
Yup, that's why.  Unfortunately I don't know either.

Anyway, it's definitely no longer an issue with this (upstream) project.  I recommend you report your issue, or feature request to upgrade, to the downstream OpenWRT project.

Closing bug report.

[2022-01-02 04:15] #372 closed

[2022-01-03 17:56] exaveal commented on #371
Thanks for your feedback. I "tried" to request a update of the snap package on github. Unfortunately I am not that skilled to install the latest version on my Ubuntu Server. The version of inadyn in the ubuntu repository is version 1.92 and even older than the snap-package. To fix my problem I switched to ddclient unfortunately. But I hope inadyn gets updated for ubuntu/snap soon!

[2022-01-03 17:56] #371 closed

[2022-01-04 22:19] jjpinom commented on #372
Thanks!.

Now the OpenWRT package is updated.

I included the 'proxied' option, but had to change the 'username' option from email to zone

[2022-01-04 23:08] troglobit commented on #372
Great!

Yeah, the zone.name is used in all examples in the documentation and examples since a while back.  If you find any other mention of the email as username, please let me know (in a separate bug report). Thanks!

[2022-01-16 03:00] steveestabrook opened #373 "EasyDNS server response "no update required" results in Error response from DDNS server, ignoring"
When querying EasyDNS, the server response "no update required" is treated as an error.
inadyn retries every two minutes.
Similar to the issue resolved in #214

In-a-dyn version 2.5 -- Dynamic DNS update client.
Update forced for alias xxx.xxx.xxx, new IP# xxx.xxx.xxx.xxx
Fatal error in DDNS server response:
[200 OK] <HTML><BODY><FONT FACE="sans-serif" SIZE="-1">OK<br />
<hr noshade size="1">
no u

[2022-01-16 03:14] troglobit commented on #373
Thanks for the report!  Is the exact string from the server: `no update required`?

[2022-01-16 03:19] steveestabrook commented on #373
It's wrapped in html.  The actual message is

**no update required for** followed by the fqdn **to** followed by the dynamic IP address

[2022-01-16 03:25] troglobit commented on #373
OK, thanks!   I think this patch should help, do you have any means of testing it?

[code]

[2022-01-16 03:30] troglobit commented on #373
Hmm, I found this discussion online https://community.sophos.com/sophos-xg-firewall/f/discussions/103809/dynamic-dns-and-easydns-functionality/378085#378085 it refers to the same output you get, but it seems to have the "NOERROR" string as well, which we look for already:
[code]

Do you get NOERROR as well?  I notice you're running a bit older version, so maybe it's another problem you've run into

[2022-01-16 03:32] steveestabrook commented on #373
I'm using TrueNAS 12.0 which is based on FreeBSD 12.2
NOERROR is not present in the logs

[2022-01-16 03:38] troglobit commented on #373
Hmm, OK maybe it's not shown with normal log level. Could you try running with `-l debug` to get more debug output?

Also, but maybe you know this already, since TrueNAS packages Inadyn, you need to report this bug also to them so they can backport, or patch locally for their releases.  I don't know if they just use FreeBSD pkgs, but anyway I'm not in control of any of the downstream projects.

[2022-01-16 04:24] steveestabrook commented on #373
debug level log

`root@nas:~ # inadyn -1 -n -l debug -f /usr/local/etc/inadyn.conf
inadyn 84700 - - In-a-dyn version 2.5 -- Dynamic DNS update client.
inadyn 84700 - - Base64 encoded string: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
inadyn 84700 - - Get address for default@easydns.com
inadyn 84700 - - Checking for IP# change, connecting to checkip.dyndns.org([193.122.6.168]:80)
inadyn 84700 - - Querying DD

[2022-01-16 05:05] steveestabrook commented on #373
I built it on another system from the latest source.  It failed with the same errror.
I applied the patch and it worked.

[2022-01-16 20:45] troglobit commented on #373
Awesome, thank you for taking the time to investigate, *really* appreciated!  It really appears as if they've changed their (old compat) API.  I'll make sure to get this fix into the next release of In-a-dyn! Cheers <3

[2022-01-30 19:20] #373 closed

[2022-01-30 19:25] troglobit commented on #370
Just verified the build on Debian unstable with libssl-dev v1.1.1m, works fine.  Closing since no reply from op

[2022-01-30 19:25] #370 closed

[2022-03-06 14:10] fahimscirex opened #377 "Enabling HTTPS for duckdns"
Not sure if I can use ssl certificates here for duckdns, didn't find anything about it in the readme. How do I serve ssl certificates, so that domain can be accessible from HTTPS?

[2022-03-06 15:20] troglobit commented on #377
HTTPS support for updating your DNS entry at DuckDNS is supported, yes.  I don't know about your other questions, they do not seem to have anything to do with In-a-dyn?

[2022-03-07 16:38] fahimscirex commented on #377
I thought inadyn supports adding SSL certificates.

[2022-03-07 19:01] troglobit commented on #377
I think you have confused things a bit.  In-a-dyn is a HTTP/HTTPS *client*, it's only responsible for updating central DNS/DDNS servers with your current IP address using a per-provider specific protocol.  HTTPS is supported as a means to securely notify the DNS/DDNS provider of the change.  The only setting related to certificates is the `ca-trust-file`, which is only needed if the root certifica

[2022-03-19 01:00] iain-henderson opened #378 "Inadyn writes the pidfile AFTER dropping priveleges"
This doesn't seem to affect running Inadyn as a service on Linux when using systemd to manage things.

However, when inadyn is run directly it does not seem to have permission to write the pidfile when it wants to.

[2022-03-19 05:38] troglobit commented on #378
I suggest you use the `-P /path/to/pidfile` if your use-case is outside systemd/finit/init land.

[2022-03-21 02:33] iain-henderson commented on #378
It’s rc.d , but inadyn should probably be able write a pid to /run or /var/run without help.

[2022-03-21 03:20] troglobit commented on #378
Well, maybe you can set up /run/inadyn/ as writable/owned by the USER[:GROUP] and use -P /run/inadyn/pid ... ?

[2022-03-25 16:04] joshuisken commented on #373
I'm running into something similar, with a custom setting for ddns-server webservices.bhosted.nl in version 2.9.1 (docker):
[code]
Maybe I should add a string comparison to some/one of the 'static int response' functions (which one)?
Or maybe testing for response [200 OK] is good enough?

[2022-03-25 19:17] troglobit commented on #373
Huh, I had completely forgotten about that setting! :-D

We should probably document it a little bit better than just in passing in the README.  Anyone up for the task?  Basically "just" add a section to the man page inadyn.conf.5

[2022-03-25 19:18] troglobit commented on #373
@joshuisken an example config for webservices.bhosted.nl would also be great to have in the docs/README, of course

[2022-03-26 14:13] joshuisken commented on #373
For bHosted one needs to request a hashed password from support, since just creating a MD5 hashed password fails.
Essential is the dns-response line to match the html response mentioned above.
[code]
Is it that you add the specified ddns-response to a list of strings being matched?
I was wondering whether you can separate out success/fail/unchanged responses and whether that would make sense.

[2022-03-27 10:57] troglobit commented on #373
Great, we should try to get that documented, at least in the README, how to use `custom` to access bHosted.

For a better integration, a C plugin could be written.  That's how more elaborate success/fail/unchanged responses are handled.  However, since there is no automatic way to get the hash (from support, you say), then I don't know if it's worth the effort of making (and maintaining!) a dedica

[2022-03-29 16:56] H4irBear opened #380 "Malformed URL when using custom proivder with format specifiers and multiple hostnames"
When you configure inadyn (v2.5) to use

- A custom server **_and_**
- More than 1 hostname to update **_and_**
- Format specifiers (variables) in your ddns-path

The service sends a malformed URL when updating the second hostname.  This can been seen by running inadyn manually in debug logging mode.

As you can see, the first hostname gets updated correctly, but the second one behaves as though n

[2022-03-29 20:50] troglobit commented on #380
In-a-dyn v2.5 is 3.5 years old, we're at v2.9.1. Have you tried the latest release, or are you on a firmware/OS that doesn't have the latest release?

In any event, this looks an awful lot like a duplicate of issue #367.  Do you concur?

[2022-03-29 23:24] H4irBear commented on #380
Well, that looks like exactly the same issue. I was sure I’d searched the issue log, but clearly my search skills are rubbish.

The reason I’m on 2.5 is it’s the version that ships on TrueNAS - which has the added disadvantage of the workaround (configuring 2 custom providers) not being possible as the config has to be generated by the TrueNAS UI.

I’ll see myself out…

[2022-03-29 23:24] #380 closed

[2022-03-30 10:37] H4irBear commented on #380
Just to drop another update in here, I'm now running the 2.9.1 docker image and it's working perfectly.  I've also raised a ticket with iXsystems to see if they can package the latest version of inadyn in a future TrueNAS update.

Thanks for the work you do on this troglobit!

[2022-04-08 11:56] iain-henderson commented on #378
I am closing this, it turns out that doing this "properly" would make inadyn unnecessarily complicated while providing marginal benefit.

[2022-04-08 11:56] #378 closed

[2022-04-17 05:46] henfri opened #382 "dynv6.com: Updates IPv6 only"
Hello,

I am using inadyn 2.9.1 to update my dynv6.com ipv6 address.
Unfortunately, inadyn updates the ipv4 adress only:

[code]
What am I doing wrong?
I have also tried
`provider detect_6@dynv6.com { ...
`
But that results in
[code]

Best regards,
Hendrik

[2022-04-17 07:40] acolomb commented on #382
According to your log, it automatically guessed ipv4.dynv6.com as the provider name. Have you tried explicitly using ipv6.dynv6.com?

Do you have the allow-ipv6 option set? Not quite sure about the name, as I'm on mobile.

[2022-04-17 07:56] troglobit commented on #382
@henfri try `provider default@dynv6.com { ...`, I suspect the matching order for substrings finds the IPv4 entry first, unfortunately. Please let me know if it works, and we'll try swapping the order around.

[2022-04-18 08:26] henfri commented on #382
Hello,

`provider ipv6.dynv6.com` gives me `inadyn[27451]: Cannot find an DDNS plugin for provider 'ipv6.dynv6.com'`

`provider default@dynv6.com` gives me
[code]
This is not what I want... I want to update the ipv6 but NOT set the IPv4 (as I don't have a real IPv4 Adress).

`provider ipv6@dynv6.com` gives me
[code]
Any hint?

Best regards,
Hendrik

[2022-04-18 16:06] acolomb commented on #382
So `default@dynv6.com` definitely seems like the right choice. How are you getting the interface address? Might be better to use a checkip server or checkip command to explicitly get the right address family from the interface.

[2022-04-18 18:27] henfri commented on #382
Hello,

Why? It seems to me that ipv6@... Is only updating ipv6 whereas default@... updates both v4 and v6?

Up to now: All default.

I tried now with command:
[code]
with this config:
[code]
So, as I feared, it updates the ipv4 (which must remain empty) and not the v6.

But that gave me the hint:
**IPv6 address disallowed, enable with 'allow-ipv6 = true**
[code]

That with this config:
[code]

I

[2022-04-18 19:29] troglobit commented on #382
Hi @henfri, great to hear you got it working!  The documentation for options is in the manual pages, both inadyn(8) and inadyn.conf(5) are available.  In the latter `allow-ipv6` is the third option listed, from the top.  The README is supposed to be a quick introduction to In-a-dyn (the project) and how to get up and running, not intended to duplicate the documentation.

However, references to the

[2022-04-19 20:48] rockstorm101 opened #383 "Include configuration option not working"
I get the following messages when trying to run a configuration file with an "include" option:

[code]
Interestingly the "include" option is not on line 12 of `/etc/inadyn.conf` file but actually on line 6:

[code]

What I'm trying to do here is to load the password from a file which is separate from the rest of the configuration. I was under the impression the "include" option was the way to go f

[2022-04-20 08:33] troglobit commented on #383
The `include()` .conf option is only available from within a provider or custom context, not from the global level.  See the manual page [inadyn.conf(5)](https://man.troglobit.com/man5/inadyn.conf.5.html) for details.

[2022-04-20 08:33] #383 closed

[2022-04-20 19:12] rockstorm101 commented on #383
Thanks a lot for your quick reply! That makes much sense. I was using [Fossies man page][1] and that detail wasn't obvious (for me). I wasn't aware of the more ["official" man page][2] at your website. Sorry about that. Might want to add a link to it on the README? Sadly even [Debian's man page][3] is not even at 2.9.1 yet.

[1]: https://fossies.org/linux/inadyn/man/inadyn.conf.5
[2]: https://man.

[2022-04-21 11:27] troglobit commented on #383
Yeah I have it in my backlog of updates to all projects to do just that. I'll see to put it on my checklist for new releases, at least. Thanks!

[2022-04-21 18:23] henfri commented on #382
Hello,

ok, thanks.
This is the final configuration:
[code]

Greetings,
Hendrik

[2022-04-22 14:03] troglobit commented on #382
Thank you, but didn't you forget `allow-ipv6 = true` in that final config? From your message before that seemed to be the key config option that unlocked it all?

[2022-04-23 16:35] henfri commented on #382
Sorry, I missed to copy that part.

Complete is:
[code]

Sorry about that.

Greetings,
Hendrik

[2022-04-23 22:53] troglobit commented on #382
No worries, thank you for getting back to us! :heart:

[2022-04-26 05:17] troglobit commented on #382
Docs updated, pending man.troglobit.com update.

[2022-05-10 06:19] troglobit commented on #382
There, updated, https://man.troglobit.com/man5/inadyn.conf.5.html

[2022-05-10 06:19] #382 closed

[2022-05-10 06:19] troglobit commented on #377
`ETIMEDOUT`

[2022-05-10 06:19] #377 closed

[2022-05-11 00:59] MestreLion opened #384 "Ubuntu 22.04 ships with outdated, broken config file for 2.8.1"
This is the default `/etc/inadyn.conf` created after a fresh `sudo apt install inadyn` install in Ubuntu 22.04:

[code]

Which obviously in almost every single line when checked with `sudo inadyn --check-config`

Some hopefully useful info:
[code]

[2022-05-11 01:52] troglobit commented on #384
I'm sorry but you'll have to report that problem with Debian/Ubuntu. I'm not responsible for the downstream/distribution packaging of In-a-dyn.  In fact, I did my own packaging when inadyn in Debian was without a maintainer, and I created debconf templates that generate a proper new-style .conf file from the answers of the administrator installing it -- I've offered that packaging (separate branch

[2022-05-11 01:52] #384 closed

[2022-05-11 01:58] MestreLion opened #385 "Custom port for `ddns-server` is ignored when SSL is enabled"
Using inadyn 2.8.1 from Ubuntu 22.04 jammy repository

`/etc/inadyn.conf` sets a custom port `1234`, and `ssl` is enabled as default:
[code]
[code]
It ignores the `1234` setting and connects to the default `443` HTTPS port. If `ssl = false` is set in the config file, then it properly connects to the custom port (with HTTPS disabled, as expected):
[code]

[2022-05-11 02:54] troglobit commented on #385
Confirmed.  Same problem also on master, and thus v2.9.1.

Thank you for the excellent report, and example config to help reproduce the problem!

[2022-05-11 03:33] #385 closed

[2022-05-11 03:34] troglobit commented on #385
Should be fixed as of 0b5ac98.

[2022-05-11 03:45] MestreLion commented on #385
Wow, thanks for the quick fix!

Is there a way to set up a PPA or similar so when 2.9.2 arrives it could be backported to Ubuntu 22.04? I doubt Ubuntu (or Debian) will land it in their official repositories for their current LTS

[2022-05-11 07:52] troglobit commented on #385
I've had my own builds, not a PPA, but since the new Debian maintainer took over I've not continued to maintain it.  It's not been feasible for me to maintain an entire PPA, there is simply not enough hours in a day.

I suggest reporting this to Debian/Ubuntu so they can backport that specific patch to their 2.8.1 release.  I will do a 2.9.2 later, in a couple of months I guess when I circle back

[2022-05-29 09:03] henfri opened #386 "gnutls_base64.c:32: undefined reference to `gnutls_base64_encode2'"
Hello,

I am following the guide from Readme.md to compile the latest release of inadyn on debian stretch.
Configure runs as expected, but compiling fails:
[code]
What am I doing wrong?

Best regards,
Hendrik

[2022-05-29 11:07] troglobit commented on #386
Probably too old gnutls version in Stretch (which is EOL). Try building with OpenSSL instead.

[2022-05-29 18:49] henfri commented on #386
Hello,

yes, that worked. Thanks!

Greetings,
Hendrik

[2022-05-29 19:25] #386 closed

[2022-07-25 10:17] mohd-akram commented on #316
Is it possible to let the `wildcard` option generate the asterisk format automatically?

[2022-07-25 14:48] troglobit commented on #316
Anything is possible, we just need someone to work on implementing and testing the feature for this particular DDNS provider.

[2022-08-20 09:45] henfri opened #387 "Force not to update ip v4 (A-Record)"
Hello,

I have no public IP v4 adress. Thus, if I have the A-Record set, some software uses this instead of connecting to my ip v6.
I have setup inadyn this way:

[code]
But still, I get in the logs:
[code]

how can I prevent this?

Best regards,
Hendrik

[2022-08-21 09:32] troglobit commented on #387
There is unfortunately no support for this use-case at the moment.

[2022-08-21 09:47] henfri commented on #387
Hello,

thanks for your reply.
Usually only my AAAA record is updated with this setup - and not the A-record.

Do I see it correctly, that in this case there was some network issue that made inadyn fall back to api.ipify.org, which returned both ipv6 **and ipv4**?

I am just wondering why it usually works and sometimes not...

Best regards,
Hendrik

[2022-08-21 10:52] troglobit commented on #387
Looks that way, yes.

[2022-08-21 11:05] henfri commented on #387
Then, I have a feature request:
A switch to prevent this fall back.

Best regards,
Hendrik

[2022-09-02 23:19] rettenbs commented on #342
@Makishima twoDNS still works for me. You can still use the update URL as described [here](http://www.twodns.de/en/faqs).
I use `ddns-path = "/update?hostname=%h&ip=%i"` to specify hostname and IP. (If the IP is omitted, twoDNS will guess it.)

I do not use the checkip server from twoDNS. This might cause the issue in your case.

This is also the only way to use twoDNS from a fritz box or somethin

[2022-09-08 15:42] SadBoen opened #389 "About update of dnspod"
Hope there cloud be a new update of dnspod.com
I use this plugin in Truenas Core, Thank you very much!

[2022-09-08 16:29] troglobit commented on #389
Hi! Not following. Is there something wrong with the existing plugin, is it malfunctioning?

[2022-09-12 12:22] FallingSnow opened #390 "Very high memory usage"
I'm running inadyn within a docker container and am seeing some unusually high memory usage. It's configured for only 6 cloudflare domains (3 using ipv6).
[code]

From within the container:
[code]

[2022-09-12 12:25] FallingSnow commented on #390
Before and after stopping inadyn. ~1.3gb released.
[code]

[2022-09-12 18:36] troglobit commented on #390
Yeah that doesn't look right ... even thought it's a bit hard sometimes to see what's actually being used and what's buffered by the kernel.

Unfortunately I'm not using the Cloudflare plugin myself (don't even have a login for the automatic tests, anyone able to help donate a login would be very appreciated), so I can't test or verify this.  Maybe @SimonPilkington can shed some light on this appa

[2022-09-12 18:38] troglobit commented on #389
Any logs or additional information would be very helpful since I don't have a login to dnspod myself.  This project exists solely with the help from all its contributors.

[2022-09-13 10:16] SimonPilkington commented on #390
I'm afraid I have no insight to offer. I run inadyn on an embedded device and after 19 days of uptime its VSZ is less than 4MiB. Admittedly my setup is much simpler with only one IPv4 domain but I have no good way to investigate this further.

[2022-09-13 10:21] SimonPilkington commented on #390
@FallingSnow can consider running Inadyn outside of the container with the same config and under Valgrind assuming they are technically savvy to see if it finds any leaks.

[2022-09-13 17:27] FallingSnow commented on #390
I don't currently have the time to look into this but if I do in the future I'll probably do as you said and run inadyn via Valgrind for a few days and see if memory usage is climbing.

@SimonPilkington are you using the cloudflare plugin?

[2022-09-13 19:23] troglobit commented on #390
That sounds like a great plan. Someone who has the ability to run and test is imo best suited to run `valgrind --leak-check=yes --leak-check=full inadyn ...` to diagnose this.

@FallingSnow yeah Simon is the main author of that plugin :)

[2022-09-14 04:12] SimonPilkington commented on #390
Yes, I've been using it basically every day since my initial version made it into the RMerlin firmware. If there were leaks along any common path I believe I'd notice them blowing up my router. I did also run Valgrind with my config and cleaned up everything it found, but that was some time ago. If you do find anything feel free to report back.

[2022-09-23 17:22] FallingSnow commented on #390
So I just checked it and inadyn was using 180MB of ram. So I've started it up using `valgrind --leak-check=yes --leak-check=full inadyn --foreground` inside the container. Will report back in about 1-2 weeks.

[2022-09-24 18:36] cg2v opened #391 "ca-trust-file in inadyn.conf has no effect for gnutls"
Since ssl_init is called before the first conf_parse_file, ssl_init does not have access to the value of ca-trust-file. openssl.c defers setting the ca location to ssl_open, so it does not have that problem.

This is likely the cause of #255, which I also experienced on Redhat Enterprise 8.
(There's an additional problem that gnutls cannot use openssl "BEGIN TRUSTED CERTIFICATE" blocks, so cannot

[2022-10-02 21:51] troglobit opened #392 "There's an additional problem that gnutls cannot use openssl "BEGIN TRUSTED CERTIFICATE" blocks, so cannot use the default CAFILE2"

[2022-10-02 21:53] troglobit opened #393 "User defined ca-trust-file have no effect with GnuTLS backend"

[2022-10-02 21:59] #393 closed

[2022-10-02 22:00] troglobit commented on #391
I've split this issue in two parts, first part fixed in 0dd3efa, the other I'd appreciate some help with.

[2022-10-02 22:01] troglobit commented on #392
Possibly some help can be found here https://www.happyassassin.net/posts/2015/01/12/a-note-about-ssltls-trusted-certificate-stores-and-platforms/

[2022-10-05 05:09] FallingSnow commented on #390
Okay, It's been about 2 weeks.
[code]

And finally the good stuffs.
[code]

[2022-10-05 07:47] troglobit commented on #390
Ah, great stuff thanks!

I see you're using the GnuTLS backend.  Maybe @SimonPilkington is using OpenSSL?  That could explain why you see such different behavior.

This is so much easier to debug and gives a great idea of where the root cause to this lies, awesome!

[2022-10-05 11:10] SimonPilkington commented on #390
Indeed. The RMerlin firmware builds inadyn with OpenSSL and I also used OpenSSL when I was doing testing on x86. Will you be handling this then @troglobit?

[2022-10-05 13:43] troglobit commented on #390
Yeah I'll have a look at it @SimonPilkington from the outside it looks like another case of different behavior between the two backends. Shouldn't be impossible to find, but I can't give any promises on timelines.

[2022-10-06 01:00] FallingSnow commented on #390
@troglobit Just so you know I'm using https://hub.docker.com/r/troglobit/inadyn in case you want to try to reproduce the issue. Otherwise I can test.

[2022-10-07 06:59] pitsi opened #394 "No-ip support"
I am on debian unstable, I have a free subscription on no-ip and I use inadyn as a fallback to my router's built-in function for dynamic dns.

From 2013 to 2021 debian's inadyn package was stuck to v1.99.x, because its maintainer probably gave up on it and officially orphaned it on 2017. That version did support no-ip.
Last October (2021), a new maintainer updated the package to 2.8.1 and just yes

[2022-10-08 06:40] troglobit commented on #390
@FallingSnow is it the latest tag, and if so from which date, or is it the latest tag, v2.9.1?

I've got no login at Cloudflare to test with so I've tested some long-runs against FreeDNS with GnuTLS using the latest mainline inadyn.  So far no leaks in sight :-/

[2022-10-08 17:35] FallingSnow commented on #390
Latest tag. Created | 2022-09-23 10:20:36

That is the creation date of the container for which the leak report above is for.

I have this for the image:
[code]

[2022-10-08 17:36] FallingSnow commented on #390
Sorry for the close, missclicked.

[2022-10-09 08:31] #390 closed

[2022-10-09 08:35] troglobit commented on #390
There, I'm pretty sure I've found the root cause of the leak(s). We had a similar issue with the OpenSSL backend a year ago, and like this one, was caused by missing calls to close the session in case of various types of errors, e.g. DDNS server timeouts etc.

[2022-10-09 08:46] troglobit commented on #390
Docker Hub container images updated.

If you have a chance to verify it, @FallingSnow, I'd be very thankful, because I think it's time to cut a new official release.

[2022-10-09 23:37] FallingSnow commented on #390
Testing now.

[2022-10-10 09:35] ThomasCr commented on #387
A Workaround from my side - I use this in my Host config:
`        checkip-command  = "/usr/sbin/ip address show scope global dev vlan10 | grep inet6 | awk '{print $2}' | cut -d/ -f1 | grep -v ^fd | grep 200:200"`

together with the assignment of a IPv6 Token in systemd (other network backends are also possible)
[code]

[2022-10-17 20:31] queeup opened #396 "No arm platform packages on github"
There is no `linux/arm/v6,linux/arm/v7,linux/arm64,linux/ppc64le` platfom containers on github packages.

[2022-10-17 21:23] troglobit commented on #396
Correct, those are on docker hub instead.

[2022-10-18 05:06] queeup commented on #396
I request to put here ass well. On docker hub there is a pull limit. Sometimes it's annoying.

If you don't want to put here fell free to close this issue.

Thank you for your great work on this project.

[2022-10-18 09:46] troglobit commented on #396
There are two separate workflows in GitHub actions for this.  I have not had a need to add this myself, but someone else is free to sink a few hours into getting it working the same way also for ghcr.

[2022-10-21 20:05] FallingSnow commented on #390
Looks like the issue has been solved. Thanks for your work @troglobit.
[code]

[2022-10-22 08:26] troglobit commented on #390
Awesome, thanks for reporting back! :heart:

Well then it appears it's time for a release! :sunglasses:

[2022-10-22 08:42] troglobit commented on #387
Just FYI, there is no native IPv6 support in In-a-Dyn, see the long-running #224 for details. So bolting on some option on the side to get custom use-cases to work is not the primary focus of the project.  @ThomasCr workaround seems like a good approach for this particular issue.

[2022-10-23 21:48] troglobit commented on #354
@crocokyle if at all possible, I'd still very much like to take you up on that offer of co-manager of one of your unused Google Domains.

[2022-11-12 14:45] troglobit commented on #389
@SadBoen PING?  Could you please give some feedback on my question above, otherwise I'll have to close this since I don't know what the problem is.

[2022-11-26 20:09] anthonyjpratti commented on #232
Is this still the case? I noticed PUT [here](https://github.com/troglobit/inadyn/blob/0eb2bf3d1bd6dd4c33fbfeed16da7fba86da8040/plugins/cloudxns.c#L30)

[2022-11-26 20:28] troglobit commented on #232
That's a plugin-specific implementation. My comment above is about the general framework in In-a-dyn core. Patches and pull requests are welcome.

[2022-11-29 09:01] bentolor opened #399 "Bug: Inadyn 2.8.1 "freezes" and does not detect(?)/apply updated IPs after some time"
Hi @troglobit !

Thanks for this great tool. Unfortunately it has changed its modi operandi from "just works" to "needs manual attention every few days/weeks" since I upgraded to the new version / configuration format via Ubuntu 22.04.

Situation is plain simple. `/etc/inadyn.conf` reads like

[code]

Situation: It fails to update my IP every once in a while. I assume that maybe the Freedns provid

[2022-11-29 09:53] troglobit commented on #399
I'm not sure what this problem could be caused by.  The v2.8.1 release is a bit old and you should report the problem to your distribution rather than upstream.  We're at v2.10.0 now and don't have the possibility to support older releases.

[2022-11-29 11:22] bentolor commented on #399
For reference: Downstream bug report https://bugs.launchpad.net/ubuntu/+source/inadyn/+bug/1998208

[2022-11-29 12:29] troglobit commented on #399
There's been a lot of updates, and like I said above, I'm not sure what this problem could be caused by.  I use FreeDNS myself and haven't seen any problems.

You can have a look at https://github.com/troglobit/inadyn/releases to see if you find anything that may be relevant.  Sorry, I can't be of more help, but I don't really have the time to help you triage.